@charset "UTF-8";

/* list  */
.comBoardListPageTotalDiv{
	width: 70%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.comBoardSearchTotalDiv{
	padding:10px;
	background-color: #fbfbfb;
	border: 1px solid #eeeeee;
}
.comBoardSearchDiv{
	border-bottom: 1px solid #eeeeee;
    padding: 10px;
}
.comBoardSearchDiv h5{
	margin: 0;
}
.comBoardListBtDiv{
	margin-top: 30px;
	text-align: right;
}
.comBoardListTb{
	width: 100%;
	border-top: 2px solid;
	border-spacing: 0;
}
.comBoardListTb tr:hover{
	background-color: #f6fafd;
}
.comBoardListTb th,td{
	padding: 10px;
}
.comBoardListTb th{
	border-bottom: 1px solid #eeeeee;
	width: 20%;
	font-weight: 100;
    font-size: small;
	vertical-align: middle;
	padding-left: 5px;
}
.comBoardListTb td{
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}
.comBoardListTb a{
	text-decoration: none;
}
.applyCheckDiv{
	overflow: hidden;  		
	text-overflow: ellipsis;  	
	white-space: nowrap; 		
	word-break:break-all;
	max-width: 130px;
	float: left;
	position: relative;
}
.interestCheckDiv{
	overflow: hidden;  		
	text-overflow: ellipsis;  	
	white-space: nowrap; 		
	word-break:break-all;
	float: left;
	position: relative;
	top: 3px;
}
.apply_check {
	border: 1px solid #dddddd;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border-radius: 0;
	cursor: pointer;
	height: 16px;
	outline: 0;
	width: 16px;
	margin-right: 5px;
}
.apply_check + label {
	position: relative;
	top: -6px;
}
.apply_check:checked {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  background: #fff;
  border-radius: 0;
  cursor: pointer;
  height: 17px;
  outline: 0;
  width: 16px;
}
.apply_check:checked + label {
	position: relative;
	top: -5px;
}

.interest_check{
	display: none;
}

.interest_check + label {
	cursor: pointer;
	display: block;    
	width: 16px;
    height: 16px;
	background-image: url("/image/icon/interest_icon1.png");
	background-size: 16px;
	background-repeat: no-repeat;
}
.interest_check + label:hover {
	background-image: url("/image/icon/interest_icon2.png");
}
.interest_check:checked + label {
	background-image: url("/image/icon/interest_icon3.png");
}
.titleDiv{
	width: 100%;
	overflow: hidden;  		
	text-overflow: ellipsis;  	
	white-space: nowrap; 		
	word-break:break-all;
	max-width: 500px;
	margin: 3px 0;
}
.listTitleDiv{
	font-weight: bold;
	font-size: 15px;
	color: #000000;
}
.listSubDiv{
	font-size: 12px;
	color: #888888;
}
.listGroupDiv{
	font-size: 11px;
	color: #888888;
}
.totalPageInfoDiv{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 10px;
}
.totalPageInfoDiv #total{
	float: left;
	font-size: 18px;
}
.totalPageInfoDiv #pageInfo{
	float: right;
	font-size: 12px;
}




/* content */
.comBoardContentDiv{
	width: 75%;
	margin: 0 auto;
	border: 1px solid #eee;
	border-top: 2px solid #000;
	padding: 10px 30px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.top_l_cominfo_div {
	width: 69%;
	display: inline-block;
}
.top_cominfo_div {
	width: 100%;
	display: inline-block;
}
.top_cominfo_div p{
	margin: 5px 0 ;
}
.top_cominfo_div .comName{
	font-size: 16px;
}
.top_cominfo_div .comBTitle{
	font-size: 20px;
}
.l_cominfo_div{
	width: 49%;
	display: inline-block;
}
.r_cominfo_div {
	width: 49%;
	display: inline-block;
}

.top_r_cominfo_div {
	width: 29%;
	display: inline-block;
}
/* 기업로그이미지 */
.top_r_cominfo_div img{
	width: 100px;
	height: 40px;
}
.infoDl dt,dd{
	display: inline-block;
	margin: 0;
	font-size: 13px;
	color: #888;
}
.infoDl dt{
	width: 22%;
}
.infoDl dd{
	width: 75%;
}



.recommendListTb img{
	width: 90px;
	height: 110px;
}

.modal{
	width: 600px;
	max-width: 600px;
}
.modal table{
	width: 100%;
}




/* add , update */
.comBoardInputTotalDiv{
	margin: 0 auto;
	padding: 50px;
	background-color: #fafafa;
    position: relative;
}
.comBoardBtDiv{
    width: 167px;
    position: absolute;
    right: -7px;
    top: 0px;
    margin-top: 51px;
}
.comBoardInputTitle{
	font-size: 20px;
    margin-bottom: 10px;
    color: #0b57d0;
    font-weight: bold;
}
.comBoardInputGroupDiv{
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	margin: 0 auto;
    margin-bottom: 100px;
    width: 75%;
}
.comBoardInputTb{
	width: 100%;
	border-spacing: 0px;
	padding: 20px;
	padding-top:0px;
	border-top: 2px solid #5c5c5c;
	font-size: 14px;
}
.comBoardInputTb th,td{
	padding:15px;
	border-bottom: 1px solid #e9e9e9;
	
}
.comBoardInputTb th{
	color: #5c5c5c;
	width: 19%;
}
/* 체크박스 테이블 */
.optionTb{
	width: 100%;
}
.optionTb th{
	font-size:14px;
	border: 0;
    padding: 5px;
}
.optionTb td{
	font-size:12px;
	border: 0;
    padding: 5px;
}
/* 체크박스 */
.checkCss{
	display: none;
}
.checkCss + label {
	padding: 3px 10px;
	cursor: pointer;
	color: #666666;
}
.checkCss + label:hover {
	color: #000000;
}
.checkCss:checked + label {
	border-radius: 10px;
    background-color: #80b1ff73;
}
/* input */
.textBspan{
	float: left;  
	margin-right: 5px;
	height: 37px;
	line-height: 37px;
	color: #8c8c8c;
	font-size: 14px;
	font-weight: bold;
}
.textGr{float: left; margin-right: 5px;}
.textW100{width: 100%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW95{width: 95%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW90{width: 90%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW80{width: 80%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW70{width: 70%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW60{width: 60%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW50{width: 50%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW40{width: 40%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW35{width: 35%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW30{width: 30%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW25{width: 25%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW20{width: 20%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW15{width: 15%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW10{width: 10%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.textW5{width: 5%; height: 30px; border-radius: 5px; border: 1px solid #bebebe; padding-left: 5px;}
.selectText{
	font-size: 14px;
}
.requiredText{
	margin-left:5px;
	font-size:9px;
	font-weight:lighter;
	color: #ff0000;
}
.limitText{
	margin-left:5px;
	font-size:9px;
	font-weight:lighter;
}
input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}


/* 공고 공통 */
/* input 숫지 버튼 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=number] { /* 파이어폭스에서의 초기화 방법 */
    -moz-appearance: textfield;
}
.codeTotalDiv{
	width:100%;
	display: -webkit-inline-box;
}
.codeDiv{
	width:33%;
	height: 200px;
	overflow: scroll;
	border: 1px solid ;
	background-color: #fff;
}
.codeDiv::-webkit-scrollbar {
  width: 5px;
}
.codeDiv::-webkit-scrollbar-track {
  background-color: white;
}
.codeDiv::-webkit-scrollbar-thumb {
  background-color: black;
}
.codeDiv::-webkit-scrollbar-button {
  display: none;
}

.tdNoPadding{
	padding: 0;	
}
.codeUl{
	list-style: none;
	padding-left: 10px;    
}
.codeUl li{
	padding: 5px;
	font-size: 13px;
}
/* button */
.btCss{
	padding: 10px 15px;
    cursor: pointer;
    width: 160px;
    height: 45px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
.btCss1{
    background-color: #0B57D0;
    color: #ffffff;
    border: 1px solid #0B57D0;
}
.btCss1:hover{
    background-color: #416dc3;
}
.btCss2{
	background-color: #c4d8ff;
    color: #4879db;
    border: 1px solid #c4d8ff;
}
.btCss2:hover{
	background-color: #d9e6ff;
}
.btCss3{
    background-color: #ffffff;
    color: #8a8a89;
    border: 1px solid #8a8a89;
}
.btCss3:hover{
    background-color: #f2f2f2;
}
.btCss4{    
	width: 70px;
    height: 30px;
    border: 0;
    background-color: #FF9800;
    color: #fff;
    cursor: pointer;
}
.btCss4:hover{    
    background-color: #ffa726;
}
.btCss_x{    
	width: 70px;
    height: 30px;
    border: 0;
    color: #fff;
	background-color: #8f00ff;
}