@charset "UTF-8";

.codeTotalDiv{
	display: -webkit-inline-box;
}
.codeDiv{
	width:400px;;
	height: 300px;
	overflow: scroll;
}

.date_empty:before {
        content: attr(data-placeholder);
        width: calc(100% - 42px);
      }
      
      
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: #007BFF;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #f1f1f1;
}
      