@charset "UTF-8";

/* list  */
/* 기업로그이미지 */
.top_r_cominfo_div img{
	width: 100px;
	height: 40px;
}



/* add , update */
.comBoardInputTotalDiv{
	margin: 0 auto;
	padding: 50px;
	background-color: #fafafa;
    position: relative;
}
.comBoardBtDiv{
    width: 167px;
    position: absolute;
    right: -7px;
    top: 0px;
    margin-top: 51px;
}
.comBoardInputTitle{
	font-size: 20px;
    margin-bottom: 10px;
    color: #0b57d0;
    font-weight: bold;
}
.comBoardInputGroupDiv{
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	margin: 0 auto;
    margin-bottom: 100px;
    width: 75%;
}
.comBoardInputTb{
	width: 100%;
	border-spacing: 0px;
	padding: 20px;
	padding-top:0px;
	border-top: 2px solid #5c5c5c;
	font-size: 14px;
}
.comBoardInputTb th,td{
	padding:20px;
	border-bottom: 1px solid #e9e9e9;
	
}
.comBoardInputTb th{
	color: #5c5c5c;
	width: 20%;
}
/* 체크박스 테이블 */
.optionTb{
	width: 100%;
}
.optionTb th{
	font-size:14px;
	border: 0;
    padding: 5px;
}
.optionTb td{
	font-size:12px;
	border: 0;
    padding: 5px;
}
/* 체크박스 */
.checkCss{
	display: none;
}
.checkCss + label {
	padding: 3px;
}
.checkCss:checked + label {
	border-radius: 10px;
    background-color: #80b1ff73;
}
/* input */
.textBspan{
	float: left;  
	margin-right: 5px;
	height: 37px;
	line-height: 37px;
	color: #8c8c8c;
	font-size: 14px;
	font-weight: bold;
}
.textGr{float: left; margin-right: 5px;}
.textW100{width: 100%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW95{width: 95%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW90{width: 90%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW80{width: 80%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW70{width: 70%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW60{width: 60%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW50{width: 50%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW40{width: 40%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW35{width: 35%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW30{width: 30%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW25{width: 25%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW20{width: 20%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW15{width: 15%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.textW10{width: 10%; height: 30px; border-radius: 5px; border: 1px solid #bebebe;}
.selectText{
	font-size: 14px;
}
.requiredText{
	margin-left:5px;
	font-size:9px;
	font-weight:lighter;
	color: #ff0000;
}
.limitText{
	margin-left:5px;
	font-size:9px;
	font-weight:lighter;
}
input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}


/* 공고 공통 */
/* input 숫지 버튼 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=number] { /* 파이어폭스에서의 초기화 방법 */
    -moz-appearance: textfield;
}
.codeTotalDiv{
	display: -webkit-inline-box;
}
.codeDiv{
	width:260px;
	height: 200px;
	overflow: scroll;
	border: 1px solid ;
}
.codeDiv::-webkit-scrollbar {
  width: 5px;
}
.codeDiv::-webkit-scrollbar-track {
  background-color: white;
}
.codeDiv::-webkit-scrollbar-thumb {
  background-color: black;
}
.codeDiv::-webkit-scrollbar-button {
  display: none;
}

.tdNoPadding{
	padding: 0;	
}
.codeUl{
	list-style: none;
	padding-left: 10px;
}
.codeUl li{
	padding: 5px;
}
/* button */
.btCss{
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 160px;
    height: 50px;
    margin-bottom: 5px;
}
.btCss1{
    background-color: #0B57D0;
    color: white;
}
.btCss2{
	background-color: #5c5c5c;
    color: white;
}
.btCss3{
    background-color: #08dbb3;
    color: white;
}