@charset "UTF-8";

.codeTotalDiv{
	display: -webkit-inline-box;
}
.codeDiv{
	width:400px;;
	height: 300px;
	overflow: scroll;
}

.date_empty:before {
        content: attr(data-placeholder);
        width: calc(100% - 42px);
      }
      
.top_r_cominfo_div img{
	width: 100px;
	height: 40px;
}