@charset "UTF-8";

table {
	border-spacing: 0;
}

#td_color{
	background-color: lightgray;
}

.checkmark {
    display: none;
    color: green;
    font-size: 16px;
    margin-left: 5px;
}

.company-table {
   width: 100%;
   border-collapse: collapse;
   margin: 20px 0;
   font-size: 18px;
   text-align: center;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.company-table th, .company-table td {
    padding: 12px 15px;
}

.company-table th {
    background-color: #f2f2f2;
}

.company-table tr {
    border-bottom: 1px solid #ffffff;
}

.company-table tr:last-child {
    border-bottom: 0;
}

.company-table2 {
	border-top: 2px solid black;
   width: 85%;
   border-collapse: collapse;
   margin: 20px 0;
   font-size: 14px;
   overflow: hidden;
   border-bottom: 2px solid black;
   
}

.company-table2 th, .company-table2 td {
    padding: 10px 15px;
}

.company-table2 th {
	font-weight: bold;
    background-color: #f2f2f2;
    width: 300px;
}

.company-table2 .infoTh{
	width: 150px !important;
}

.company-table2 tr {
    border-bottom: 1px solid #bbbbbb;
    height: 55px;
    
}

.company-table2 tr:last-child {
    border-bottom: 0;
}

/* .company-table tr:hover {
    background-color: #f1f1f1;
} */

.submitBtnContainer{
	position: relative; /* 상대적 위치 설정 */
  	bottom: 0; /* 테이블 아래에 위치 설정 */
  	width: 85%; /* 테이블 너비와 동일하게 설정 */
	text-align: center;
}

input[type="text"] {
	width: 100%;
	height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
	height: 30px;
}
input[type="submit"] {
 	background-color: #0B57D0; /* 파란색 버튼 */
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.input[type="submit"]:hover {
	 background-color: #0056b3; /* 어두운 파란색 */
}

input[type="reset"] {
 	background-color: lightgray; /* 파란색 버튼 */
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input[type="reset"]:hover {
	 background-color: #666666; /* 어두운 파란색 */
}

.helpNoticeBox {
	padding:25px 23px 23px 23px; 
	background:#fafafa; 
	border:1px solid #edeef0;
	width: 80%;
}
.helpNoticeBoxTitle {
	font-size:16px;
	letter-spacing: 0px; 
	color:#333;
}
.helpNoticeBoxList {
	margin-top:11px;
	margin-bottom: 11px;
}
.helpNoticeBoxList li {
	padding-left:7px; 
	font-size:13px;
	letter-spacing: 0px; 
	color:#666; 
	line-height:28px;
}
.clef3f3f {
	color:#ef3f3f;
}

/* ----------------------------------------------------------------------------------- */
.nav-btn {
     display: flex;
     gap: 10px;
     list-style-type: none;
     padding: 0;
     margin-bottom: -10px;
}

.nav-btn li {
	font-size: 14px;
	width: 25%;
    padding: 20px 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.nav-btn li:hover {
    background-color: #c0c0c0;
}

.nav-btn-selected {
	background-color:  #0B57D0 !important;
	color: white !important;
	font-size: 16px !important;
}

.com-board-title-width {
	width: 70%;
}

.apply-list-header {
	display: flex;
}

.com-board-apply-width {
	width: 15% !important;
	text-align: center;
}

















