@charset "UTF-8";


.faq-list h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
}

.faq-list ul {
    list-style-type: none;
    padding: 0;
    
}

.faq-list li {
    font-size: 13px;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #e5e5ed;
}

.faq-list .highlighted {
    color: #007BFF;
}

.FAQCont {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.notice-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notice-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.notice-list li span, .notice-list li a {
    flex: 1;
    text-align: left;
}

.notice-list li span {
    width: 10%;
}

.notice-list li a {
    width: 80%;
    color: #007BFF;
    text-decoration: none;
}

.notice-list li a:hover {
    text-decoration: underline;
}

.notice-list li a:visited {
    color: #551A8B;
}

/* ////////////////////////////////////////////////////////////////// */

.notice-cont {
	width: 70%; /* 테이블 너비 */
    border-collapse: collapse; /* 테이블 셀 간격 없앰 */
    margin-bottom: 20px; /* 아래 여백 */
    border-top: 1px solid #797979; /* 맨 위에 테두리 추가 */
}

.notice-cont th,
.notice-cont td {
  border: none; /* 기존 테두리 제거 */
  border-bottom: 1px solid #c0c0c0;
  padding: 10px; /* 셀 안쪽 여백 */
  text-align: left; /* 텍스트 정렬 */
}

.notice-cont tfoot td {
  text-align: center; /* 푸터 텍스트 가운데 정렬 */
}

.notice-btn button{
	background-color: #fff;
	color: #6a6a6a;
	border: 0.5px solid;
	border-radius: 5px;
	padding: 8px 10px;
	cursor: pointer;
	font-size: 11px;
}

.main-notice-list {
    list-style-type: none;
    padding: 0px 20px 20px 20px;
    margin: 0;
}

.main-notice-list li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.main-notice-list li:first-child {
	border-top: 1px solid #ddd;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.main-notice-list li span, .main-notice-list li a {
    text-align: left;
}

/* .main-notice-list li span {
}
 */
.main-notice-list li a {
    color: #007BFF;
    text-decoration: none;
}

.main-notice-list li a:hover {
    text-decoration: underline;
}

.main-notice-list li a:visited {
    color: #551A8B;
}

















