@charset "UTF-8";
* {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, 
				 system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, 
				 Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}
/* 헤더 스타일 */
.header {
	width:100%;
    min-width: 1200px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
	margin-bottom: 5px;
	
}
.header .container{
    width: 1200px;
    padding-top: 25px;
    margin: 0 auto;
}
/* 상단 섹션 스타일 */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
/* 내비게이션 바 스타일 */
nav {
    padding: 10px 0;
}


.logo img {
	width: 200px;
	margin-right: 20px;
}

.search-btn {
	display: flex;
	flex: 1; /* 검색창이 가능한 넓게 차지하도록 함 */
}

.search-bar {
	width: 350px;
	max-width: 450px; /* 최대 너비 고정 */
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
}
.search-btn input[type="submit"] {
	background-color: #0B57D0;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
}
.search-btn input[type="submit"]:hover {
	background-color: #004bc2;
}
/* 사용자 액션 스타일 */
.user-actions {
	display: flex;
	align-items: center;
}
.user-actions a {
	width:70px;
	text-decoration: none; /* 링크 밑줄 제거 */
	color: #333; /* 링크 색상 */
	font-size: 16px;
	font-weight: bold; /* 링크 글씨 굵게 */
	margin-left: 20px; /* 버튼 간 간격 */
}
.user-actions a:hover {
	font-size: 17px;
}
nav ul {
	list-style: none; /* 목록 스타일 제거 */
	margin: 0; /* 목록 외부 여백 제거 */
	padding: 0; /* 목록 내부 여백 제거 */
	display: flex; /* 내부 요소들을 flexbox로 배치 */
	justify-content: left; /* 메뉴 가운데 정렬 */
	align-items: center;
}
nav li {
    width: 150px;
    padding: 10px;
}
nav a {
	text-decoration: none; /* 링크 밑줄 제거 */
	color: #333; /* 링크 색상 */
	font-size: 18px;
	font-weight: bold; /* 링크 글씨 굵게 */
}
nav a:hover {
	color: #0B57D0; /* 링크 색상 */
}


/* 전체 페이지 최소 너비 설정 */
body {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.content{
    width: 1200px;
    min-width: 800px;
    margin: 0 auto;
	min-height: 300px; /* 최소 높이 고정 */
	
}

/* footer css */
.footer {
	border-top: 1px solid #eeeeee;
	width: 100%;
    text-align: center;
    float: left;
}
.footer-top {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}
.footer-links a {
    margin: 0 15px;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}
.footer .container{
    margin: 0 auto;
    padding: 25px;
    width: 1200px;
    min-width: 800px;
    margin: 0 auto;
}
.footer-notice {
    text-align: left;
    margin-bottom: 10px;
}
.footer-notice h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.footer-notice p {
    margin: 5px 0;
    font-size: 12px;
}
.footer-middle {
    background-color: #f8f9fa;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-middle p {
    margin: 10px 0;
    font-size: 12px;
}
.footer-bottom {
    background-color: #fff;
}
.footer-bottom p {
    margin: 10px 0;
    font-size: 12px;
}


.sidebar {
    width: 20%;
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    color: #333; /* 글자 색상을 어두운 회색으로 설정 */
    padding-top: 10px;
    transition: width 0.3s;
    float: left;
}

.sidebar_r{
    width: 75%;
    float: right;
    border-left: 1px solid #ddd; /* 오른쪽에 얇은 경계선 추가 */
	min-height: 500px;
	padding: 20px
	
}

.sidebar h3 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}
.sidebar a {
    display: block;
    color: #333; /* 링크 색상 */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 1px solid #eee; /* 링크 사이에 얇은 경계선 추가 */
    transition: background 0.3s, color 0.3s;
}
.sidebar a:hover {
    background-color: #f1f1f1; /* 마우스 오버 시 배경색 변경 */
    color: #000; /* 마우스 오버 시 글자 색상 변경 */
}
.sidebar a.active {
    background-color: #e0e0e0; /* 활성화된 링크 배경색 */
    color: #000; /* 활성화된 링크 글자 색상 */
}
.sidebar a.select {
    background-color: #0B57D0;
    color: white;
}



.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    text-decoration: none;
    color: #007BFF;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #f1f1f1;
}
