@charset "UTF-8";

.checkmark {
    display: none;
    color: green;
    font-size: 16px;
    margin-left: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex; /* flexbox 사용 */
    flex-direction: column; /* 세로 방향 배치 */
    min-height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* 또는 원하는 너비 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
	font-size: 14px;
    padding: 7px 0;
    border-bottom: 1px solid #eee;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF; /* 파란색 버튼 */
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* 어두운 파란색 */
}

.inputgroup {
    display: flex;
    align-items: center;
}

.inputgroup input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

