@charset "UTF-8";

.icon:hover + .hover-text {

	display: block;

}

.hover-text {
    padding: 10px 10px;
    background-color: #444444;
    border-radius: 5px;
    color: #ffffff;
    position: absolute;
    display: none;
    right: 41%;
}

  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
  }
  .tab-container {
    width: 400px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .top-links {
    position: relative;
    margin-bottom: 20px;
    right: -45%;
  }
  .top-links a {
    margin-right: 10px;
    color: #000000;
    text-decoration: none;
  }
  .top-links a:hover {
    text-decoration: underline;
  }
  .tab-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .info{
  	text-align: left;
  	padding-top: 10px;
  	padding-bottom: 18px;
  }
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    text-align: center;
  }
  .tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  .tab.active {
    border-bottom: none;
    background-color: #fff;
    font-weight: bold;
  }
  .form-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
  }
  .form-container input[type="text"],
  .form-container input[type="password"],
  .form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  .form-container input[type="submit"], .form-container input[type="button"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #0B57D0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-container input[type="submit"]:hover, .form-container input[type="reset"]:hover, .form-container input[type="button"]:hover {
    background-color: #0B57D0;
  }
  
  .link-container {
    margin-top: 20px;
  }
  .link-container a {
    margin: 0 5px;
    color: #007BFF;
    text-decoration: none;
  }
  /* .link-container a:hover {
    text-decoration: underline;
  } */
  