@charset "UTF-8";

.mainTopDiv{
	display: flex;
	margin-bottom: 50px;
	height:300px;
	justify-content: space-between;
	gap: 20px;
}

.mainContentDiv{
	margin-bottom: 50px;
}

.mainLoginInfo, .mainLoginNotice, .mainLoginAd {
  /* float 속성 제거 */
  width: 33.33%; /* 각 요소 너비를 1/3로 설정 */
}

.mainLoginInfo{
	height:300px;
	float: left;
	border: 1px solid black;
	border-radius: 5px;
}
.mainLoginNotice{
	height:300px;
	border: 1px solid black;
	border-radius: 5px;
}

.mainLoginAd{
	height:300px;
	background-color: rgb(255, 255, 128);
}


.mainListTb{
	border-spacing: 29px;
}

.mainListTb td{
	width: 260px;
   height: 350px;
   /* border: 1px solid #e4e4e4; */
   text-align: center;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

.mainListTb td:hover{
	cursor: pointer;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.mainListTbDiv{
	font-size: 18px;
	text-align: left;
}

.mainListLogoDiv{
	padding: 20px 20px;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
}
.mainListNameDiv{
   padding: 10px 20px;
	font-weight: bold;
}
.mainListTitleDiv{
   padding: 10px 20px;
	height: 100px;
}
.mainListDateDiv{
   padding-top: 10px;
	font-size: 16px;
	color: #9e9e9e;    
	border-top: 1px solid;
   margin: 10px 20px;
}

.mainListLogoDiv img{
	width: 200px;
	height: 80px;
}

.mainListNonDiv{
	text-align: center;
}


.mainListTitle{
	font-size:20px;
	margin: 0 29px;
}

.main-user-table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.main-user-table th, .main-user-table td {
    padding: 12px 15px;
}

.main-user-table th {
    background-color: #f2f2f2;
}

.main-user-table tr {
    border-bottom: 1px solid #ffffff;
}

.main-user-table tr:last-child {
    border-bottom: 0;
}

.main-user-table tr:hover {
    background-color: #f1f1f1;
}

.main-company-table {
   width: 70%;
   border-collapse: collapse;
   margin: 20px 0;
   font-size: 18px;
   text-align: center;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.main-company-table th, .main-company-table td {
    padding: 12px 15px;
}

.main-company-table th {
    background-color: #f2f2f2;
}

.main-company-table tr {
    border-bottom: 1px solid #ffffff;
}

.main-company-table tr:last-child {
    border-bottom: 0;
}