@charset "UTF-8";

.mainTopDiv{
	margin-bottom: 50px;
	height:300px;
}

.mainContentDiv{
	margin-bottom: 50px;
}

.mainLoginInfo{
	width: 400px;
	height:300px;
	float: left;
	background-color: #ff8080;
	margin-right: 20px;
}
.mainLoginBanner{
	width: 770px;
	height:300px;
	background-color: rgb(255, 255, 128);
    float: right;
}


.mainListTb{
	border-spacing: 29px;
}

.mainListTb td{
	width: 260px;
   height: 350px;
   /* border: 1px solid #e4e4e4; */
   text-align: center;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

.mainListTb td:hover{
	cursor: pointer;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.mainListTbDiv{
	font-size: 18px;
	text-align: left;
}

.mainListLogoDiv{
	padding: 20px 20px;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
}
.mainListNameDiv{
   padding: 10px 20px;
	font-weight: bold;
}
.mainListTitleDiv{
   padding: 10px 20px;
	height: 100px;
}
.mainListDateDiv{
   padding-top: 10px;
	font-size: 16px;
	color: #9e9e9e;    
	border-top: 1px solid;
   margin: 10px 20px;
}

.mainListLogoDiv img{
	width: 200px;
	height: 80px;
}

.mainListNonDiv{
	text-align: center;
}


.mainListTitle{
	font-size:20px;
margin: 0 29px;
}