@charset "UTF-8";

.custom-input {
	height: 85px;
}

.profile_job_div {
	width: 50%;
}

.categories-wrapper {
	display: flex;
	justify-content: flex-start;
	gap: 5px;
	margin-top: 5px;
}

.categories-wrapper ul {
	list-style: none;
	padding: 0;
}

.categories-wrapper li {
	margin-bottom: 7px; /* 각 항목의 간격 설정 */
}

.categories-wrapper div {
	flex: 1;
}

.custom-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

.categories-wrapper {
	display: flex;
	justify-content: space-between;
}

.categories-container, .subcategories-container,
	.stepcategories-container {
	flex: 1;
}

.categories-container ul, .subcategories-container ul,
	.stepcategories-container ul {
	list-style: none;
	padding: 0;
}

#preview {
	width: 190px;
	height: 210px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

button {
	padding: 10px 20px;
	background-color: #0B57D0;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
	width: 150px;
	height: 40px;
}

button:hover {
	background-color: #0056b3;
}

.buttonloc {
	padding: 10px 20px;
	background-color: #0B57D0;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
	width: 150px;
	height: 40px;
	float: right;
}

.buttonloc2 {
	padding: 10px 20px;
	background-color: #0B57D0;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
	width: 150px;
	height: 40px;
}

.buttonloc:hover {
	background-color: #0056b3;
}

.hopejob_div select, .hopejob_div input {
	margin-bottom: 20px;
}

.hopejob_div{
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	
}

/* 이력서 저장 및 이력서 관리 버튼 */
.Completed_div {
	margin-top: 30px;
}

.Completed_div input[type="submit"], .Completed_div input[type="button"]
	{
	padding: 15px 30px;
	background-color: #0B57D0;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.Completed_div input[type="submit"]:hover, .Completed_div input[type="button"]:hover
	{
	background-color: #0056b3;
}

#add_career_input_form ul {
	list-style: none;
	padding: 0;
}

.form-control.h-26 {
	width: 600px;
	height: 300px;
}

.form-control {
	resize: none;
}

input[type=file]::file-selector-button {
	width: 150px;
	height: 30px;
	background: #fff;
	border: 1px solid rgb(77, 77, 77);
	cursor: pointer;
}

input[type=file]::file-selector-button:hover {
	background: rgb(77, 77, 77);
	color: #0B57D0;
}

.removeForm {
	padding: 10px 20px;
	border: none;
	margin-bottom: 20px;
	color: black;
	background: #fff;
	width: 80px;
	height: 40px;
}

.removeForm:hover {
	font-weight: bold;
	background-color: #fff;
}

.defaultForm {
	padding: 10px 20px;
	border: none;
	margin-bottom: 20px;
	color: black;
	background: #fff;
	width: 135px;
	height: 40px;
}

.defaultForm:hover {
	font-weight: bold;
	background-color: #fff;
}

.fontweight {
	font-weight: bold;
	margin-top: 0;
}

#sbIdx1 {
	background-color: white;
}

.textcenter {
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.textdeco {
	text-decoration: none;
	font-size: 27px;
}

.textdeco:hover {
	text-decoration: underline;
}

p {
	font-size: 13px;
	line-height: 7px;
}

.scrollbar {
	width: 250px;
	height: 140px;
	overflow: auto;
}

.categories-container, .subcategories-container,
	.stepcategories-container {
	max-height: 250px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 6px;
	width: 500px;
}

#group1, #sub1, #step1 {
	background-color: #0B57D0 !important;
}

.navbar {
	overflow: hidden;
	background-color: #000;
	width:100%;
	min-width: 1200px;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 75px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.navbar .right {
	margin-left: auto;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table th, .table td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
}

.table th {
	background-color: #f2f2f2;
}

.table img {
	vertical-align: middle;
	float: left;
}

.table .textdeco-y {
	color: green;
	font-weight: bold;
}

.table .textdeco-n {
	color: black;
}

.profile-link {
	display: block;
	margin-top: 25px;
}

.imgWidth {
	width: 30px;
}

.divsize {
	width: 1000px;
	margin: 0 auto;
}

.textloc{
	line-height: 50px;
}