@charset "UTF-8";

.search-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 1000px;
}

.search-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin: 5px;
}

.search-list li span, .search-list li a {
    text-align: left;
}

.search-list li span {
    text-align: left;
}
.search-list li a {
    flex-grow: 2; /* 선택 사항 */
    color: #007BFF;
    text-decoration: none;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 넘치는 부분 ... 처리 */
}

.search-list button {
	background-color: #0B57D0;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	width: 10%;
}
