@charset "UTF-8";


.sidebar h3 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}

.sidebar a {
    display: block;
    color: #333; /* 링크 색상 */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 1px solid #eee; /* 링크 사이에 얇은 경계선 추가 */
    transition: background 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #f1f1f1; /* 마우스 오버 시 배경색 변경 */
    color: #000; /* 마우스 오버 시 글자 색상 변경 */
}

.sidebar a.active {
    background-color: #e0e0e0; /* 활성화된 링크 배경색 */
    color: #000; /* 활성화된 링크 글자 색상 */
}

.user-info h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
}

.user-info ul {
    list-style-type: none;
    padding: 0;
}

.user-info li {
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-info .highlighted {
    font-weight: bold;
    color: #0B57D0;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.user-list li span, .user-list li a {
    flex: 1;
    text-align: left;
}

.user-list li span {
    width: 10%;
}

.user-list li a {
    width: 80%;
    color: #0B57D0;
    text-decoration: none;
}

.user-list li a:hover {
    text-decoration: underline;
}

.user-list li a:visited {
    color: #551A8B;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.user-table th, .user-table td {
    padding: 12px 15px;
}

.user-table th {
    background-color: #f2f2f2;
}

.user-table tr {
    border-bottom: 1px solid #ffffff;
}

.user-table tr:last-child {
    border-bottom: 0;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

.user-table2 {
	border-top: 2px solid black;
   width: 85%;
   border-collapse: collapse;
   margin: 20px 0;
   font-size: 14px;
  	border-bottom: 2px solid black;
   overflow: hidden;
   
}

.user-table2 th, .user-table2 td {
    padding: 10px 15px;
}

.user-table2 th {
    background-color: #f2f2f2;
    font-weight: bold;
    width: 300px;
}

.user-table2 .infoTh{
	width: 150px !important;
}

.user-table2 tr {
    border-bottom: 1px solid #bbbbbb;
    height: 55px;
}

.user-table2 tr:last-child {
    border-bottom: 0;
}

.submitBtnContainer{
	position: relative; /* 상대적 위치 설정 */
  	bottom: 0; /* 테이블 아래에 위치 설정 */
  	width: 85%; /* 테이블 너비와 동일하게 설정 */
	text-align: center;
}

input[type="text"] {
	width: 100%;
	height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
	height: 30px;
}

input[type="submit"] {
 	background-color: #0B57D0; /* 파란색 버튼 */
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input[type="submit"]:hover {
	 background-color: #0056b3; /* 어두운 파란색 */
}

input[type="reset"] {
 	background-color: lightgray; /* 파란색 버튼 */
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input[type="reset"]:hover {
	 background-color: #666666; /* 어두운 파란색 */
}

.helpNoticeBox {
	padding:25px 23px 23px 23px; 
	background:#fafafa; 
	border:1px solid #edeef0;
	width: 80%;
}
.helpNoticeBoxTitle {
	font-size:16px;
	letter-spacing: 0px; 
	color:#333;
}
.helpNoticeBoxList {
	margin-top:11px;
	margin-bottom: 11px;
}
.helpNoticeBoxList li {
	padding-left:7px; 
	font-size:13px;
	letter-spacing: 0px; 
	color:#666; 
	line-height:28px;
}
.clef3f3f {
	color:#ef3f3f;
}

/* -------------------------------- 입사지원리스트 css */

.user-list2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-list2 li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.user-list2 li span, .user-list li a {
    /* flex: 1; */
}

.user-list2 li a {
    width: 80%;
    color: #0B57D0;
    text-decoration: none;
}

.user-list2 li a:hover {
    text-decoration: underline;
}

.user-list li a:visited {
    color: #551A8B;
}

.user-btn {
	background-color: #0B57D0; /* 파란색 버튼 */
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



