@charset "UTF-8";

.mainContainer {
	min-height: 100px; /* 최소 높이 고정 */
    display: flex;
    flex-grow: 1;
    position: relative;
    top: 0;
    justify-content: center; /* 컨테이너 내의 내용물을 가로로 가운데 정렬 */
}

.sidebar {
    width: 250px;
    height: 400px;
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    color: #333; /* 글자 색상을 어두운 회색으로 설정 */
    padding-top: 10px;
    transition: width 0.3s;
    border-right: 1px solid #ddd; /* 오른쪽에 얇은 경계선 추가 */
    margin-right: 20px; /* 사이드바와 리스트 사이에 여백 추가 */
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}

.sidebar a {
    display: block;
    color: #333; /* 링크 색상 */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 1px solid #eee; /* 링크 사이에 얇은 경계선 추가 */
    transition: background 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #f1f1f1; /* 마우스 오버 시 배경색 변경 */
    color: #000; /* 마우스 오버 시 글자 색상 변경 */
}

.sidebar a.active {
    background-color: #e0e0e0; /* 활성화된 링크 배경색 */
    color: #000; /* 활성화된 링크 글자 색상 */
}

.user-info {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* FAQ 리스트가 길어질 경우 스크롤 가능하도록 설정 */
    max-width: 800px; /* 리스트의 최대 너비 설정 */
}

.user-info h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
}

.user-info ul {
    list-style-type: none;
    padding: 0;
}

.user-info li {
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-info .highlighted {
    font-weight: bold;
    color: #007BFF;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.user-list li span, .user-list li a {
    flex: 1;
    text-align: left;
}

.user-list li span {
    width: 10%;
}

.user-list li a {
    width: 80%;
    color: #007BFF;
    text-decoration: none;
}

.user-list li a:hover {
    text-decoration: underline;
}

.user-list li a:visited {
    color: #551A8B;
}

.user-table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.user-table th, .user-table td {
    padding: 12px 15px;
}

.user-table th {
    background-color: #f2f2f2;
}

.user-table tr {
    border-bottom: 1px solid #ffffff;
}

.user-table tr:last-child {
    border-bottom: 0;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

.user-table2 {
   width: 70%;
   border-collapse: collapse;
   margin: 20px 0;
   font-size: 18px;
   text-align: center;
   border-radius: 8px;
   overflow: hidden;
   
}

.user-table2 th, .user-table2 td {
    padding: 10px 15px;
}

.user-table2 th {
    background-color: #f2f2f2;
}

.user-table2 tr {
    border-bottom: 1px solid #bbbbbb;
    
}

.user-table2 tr:last-child {
    border-bottom: 0;
}

input[type="submit"] {
 	background-color: #0B57D0; /* 파란색 버튼 */
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


