<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
</head>
<body>
	<div th:if="${session.role == '[ROLE_COMPANY]'}" th:replace="~{include/header :: companyHeader}"></div>
	<div th:if="${session.role == '[ROLE_USER]'}" th:replace="~{include/header :: userHeader}"></div>
	<div th:if="${session.role == '[ROLE_GUEST]'}" th:replace="~{include/header :: guestHeader}"></div>
	
	<div layout:fragment="content" class="content">
		<h2 th:text="${session.role}"></h2>
		<h2 th:text="${session.role.equals('[ROLE_COMPANY]')}"></h2>
		<h2 th:text="${session.role == '[ROLE_COMPANY]'}"></h2>
		<h2 th:text="${!session.role.equals('[ROLE_COMPANY]')}"></h2>
		<h2 th:text="${session.role != '[ROLE_COMPANY]'}"></h2>
		<h2 th:text="${session.role.equals('[ROLE_USER]')}"></h2>
		<h2 th:text="${session.role == '[ROLE_USER]'}"></h2>
		<h2 th:text="${!session.role.equals('[ROLE_USER]')}"></h2>
		<h2 th:text="${session.role != '[ROLE_USER]'}"></h2>
		<h2 th:text="${session.role.equals('[ROLE_GUEST]')}"></h2>
		<h2 th:text="${session.role == '[ROLE_GUEST]'}"></h2>
		<h2 th:text="${!session.role.equals('[ROLE_GUEST]')}"></h2>
		<h2 th:text="${session.role != '[ROLE_GUEST]'}"></h2>
		<h2>guest Content</h2>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>