<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/image/icon/logo_icon.png"/> 
<title>Work Wave 통합 로그인</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
	
		<div class="tab-container">
	
		<div class="top-links">
	      <a th:href="@{/A/userFAQ}" class="icon">
	      	<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
  				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  				<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
			</svg>
	      </a>
	      <div class="hover-text">고객센터</div>
    	</div>
	
		<a th:href="@{/A/main}">
           <img src="/image/icon/login_logo.png" alt="Logo" height="80px">
        </a>
		
    <div class="tabs">
      <div class="tab active" onclick="showForm('userLogin')">개인회원</div>
      <div class="tab" onclick="showForm('companyLogin')">기업회원</div>
    </div>


    <div id="userLogin" class="form-container">
      <form action="/loginOk" method="post">
        <input type="text" name="username" placeholder="아이디" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <input type="submit" value="로그인">
      </form>
      <a th:href="@{/G/userJoin}">회원가입</a>
    </div>

    <div id="companyLogin" class="form-container" style="display:none;">
      <form action="/loginOk" method="post">
        <input type="text" name="username" placeholder="기업회원 아이디" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <input type="submit" value="로그인">
      </form>
      <a th:href="@{/G/companyJoin}">회원가입</a>
    </div>
    <br>
    <div class="link-container">
      <a th:href="@{/find_id.go}">아이디 찾기</a> |
      <a th:href="@{/find_password.go}">비밀번호 찾기</a>
      
    </div>
    
  </div>
  
  	

  <script>
    function showForm(formId) {
      document.getElementById('userLogin').style.display = 'none';
      document.getElementById('companyLogin').style.display = 'none';
      document.getElementById(formId).style.display = 'block';

      var tabs = document.getElementsByClassName('tab');
      for (var i = 0; i < tabs.length; i++) {
        tabs[i].classList.remove('active');
      }
      document.querySelector('[onclick="showForm(\'' + formId + '\')"]').classList.add('active');
    }
  </script>

</body>
</html>