<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/searchList.css}">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
</head>
<body>
	<div th:replace="~{include/header}"></div>
    <div layout:fragment="content" class="content">
	
	<div class="sidebar active">
		<h3>공지사항</h3>
		<a th:href="@{/A/userFAQ}">개인회원</a>
		<a th:href="@{/A/companyFAQ}">기업회원</a>
		<a th:href="@{/A/notice}" class="select">공지사항</a>
		<a th:href="@{/G/findId}">아이디 찾기</a>
		<a th:href="@{/G/findPwd}">비밀번호 찾기</a>
		<a sec:authorize="!isAuthenticated()" th:href="@{/login}">회원탈퇴</a>
		<a sec:authorize="isAuthenticated() and hasRole('USER')" th:href="@{/U/delete/userPwdCheck}">회원탈퇴</a>
		<a sec:authorize="isAuthenticated() and hasRole('COMPANY')" th:href="@{/C/delete/companyPwdCheck}">회원탈퇴</a>
	</div>
		
		<div class="faq-list sidebar_r">
            <h3>"<span th:text="${paging.keyword}"></span>" 검색 결과</h3>
            
            <ul th:if="${SearchList != null}" class="search-list">
            	<li class="search-header">
            		<span>기업명</span>
            		<span>공고 제목</span>
            		<span>지원</span>
            	</li>
            	<li th:each="s : ${SearchList}">
            		<span style="color: #007BFF" th:text="${s.company_key}"></span>
            		<a th:href="@{/A/comBoard/content(no=${s.com_board_key})}">
            			<span  th:text="${s.com_board_title}" style="font-size: 15px;"></span>
            			<br>
            			<span style="color: #000000" th:text="${s.com_board_career} + ' · ' + ${s.com_board_edu} + ' · ' + ${s.com_board_jobtype}+ ' · ' + ${s.com_board_end_date}"></span>
            		</a>
            		<button onclick="">지원하기</button>
            	</li>
            </ul>
            
            <ul th:if="${SearchList == null}" class="search-list">
            	<li>
            		<span>검색된 공고가 없습니다. 다른 단어로 검색하여 주십시오.</span>
            	</li>
            </ul>

            <!-- Page navigation -->
            <ul class="pagination">
                <li th:if="${paging != null and paging.page > paging.block}">
                    <a th:href="@{/A/unifiedSearchList(page=1)}">[⋘]</a>
                </li>
                <li th:if="${paging != null and paging.page > paging.block}">
                    <a th:href="@{/A/unifiedSearchList(page=${paging.startBlock - 1})}">[☚]</a>
                </li>

                <li th:each="i : ${#numbers.sequence(paging.startBlock, paging.endBlock)}">
                    <a th:href="@{/A/unifiedSearchList(page=${i})}" th:text="'[' + ${i} + ']'"></a>
                </li>

                <li th:if="${paging != null and paging.endBlock < paging.allPage}">
                    <a th:href="@{/A/unifiedSearchList(page=${paging.endBlock + 1})}">[➤]</a>
                </li>
                <li th:if="${paging != null and paging.endBlock < paging.allPage}">
                    <a th:href="@{/A/unifiedSearchList(page=${paging.allPage})}">[⋙]</a>
                </li>
            </ul>
	</div>
    <div th:replace="~{include/footer :: footer}"></div>
</body>
</html>