<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/searchList.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style type="text/css">
	.highlight {
		font-weight: bolder;
    }
</style>
</head>
<body>
	<div th:replace="~{include/header}"></div>
    <div layout:fragment="content" class="content">
    	<div align="center">
            <h3>"<span th:text="${paging.keyword}" id="keyword"></span>" 검색 결과</h3>
            
            <ul th:if="${SearchList != null}" class="search-list">
            	<li>
            		<span style="width: 15%; text-align: center;">기업명</span>
            		<span style="width: 75%; text-align: center;">공고 제목</span>
            		<span style="width: 10%; text-align: center;">지원</span>
            	</li>
            	<li th:each="s, stat : ${SearchList}">
            		<span th:with="companyName=${SearchCompanyList[stat.index].company_name}"
			             th:utext="${#strings.replace(companyName, paging.keyword, '&lt;span class=&quot;highlight&quot;&gt;' + paging.keyword + '&lt;/span&gt;')}"
			             style="width: 15%; text-align: center;"
			             class="company_name"></span>
			       <a th:href="@{/A/comBoard/content(no=${s.com_board_key})}" style="width: 70%; margin-left: 100px;">
			           <span th:utext="${#strings.replace(s.com_board_title, paging.keyword, '&lt;span class=&quot;highlight&quot;&gt;' + paging.keyword + '&lt;/span&gt;')}"
			                 style="font-size: 15px;" 
			                 class="com_board_title"></span>
			           <br>
			           <span th:utext="${#strings.replace(s.com_board_career + ' · ' + s.com_board_edu + ' · ' + s.com_board_jobtype + ' · ' + #dates.format(s.com_board_end_date, 'yyyy-MM-dd'), paging.keyword, '&lt;span class=&quot;highlight&quot;&gt;' + paging.keyword + '&lt;/span&gt;')}"
			                 style="color: #000000; font-size: 12px;"></span>
			       </a>
            		<button onclick="">지원하기</button>
            	</li>
            </ul>
            
            <ul th:if="${SearchList == null}" class="search-list">
            	<li>
            		<span>검색된 공고가 없습니다. 다른 단어로 검색하여 주십시오.</span>
            	</li>
            </ul>

            <!-- Page navigation -->
            <ul class="pagination">
                <li th:if="${paging != null and paging.page > paging.block}">
                    <a th:href="@{/A/unifiedSearchList(page=1)}">[⋘]</a>
                </li>
                <li th:if="${paging != null and paging.page > paging.block}">
                    <a th:href="@{/A/unifiedSearchList(page=${paging.startBlock - 1})}">[☚]</a>
                </li>

                <li th:each="i : ${#numbers.sequence(paging.startBlock, paging.endBlock)}">
                    <a th:href="@{/A/unifiedSearchList(page=${i})}" th:text="'[' + ${i} + ']'"></a>
                </li>

                <li th:if="${paging != null and paging.endBlock < paging.allPage}">
                    <a th:href="@{/A/unifiedSearchList(page=${paging.endBlock + 1})}">[➤]</a>
                </li>
                <li th:if="${paging != null and paging.endBlock < paging.allPage}">
                    <a th:href="@{/A/unifiedSearchList(page=${paging.allPage})}">[⋙]</a>
                </li>
            </ul>
		</div>
	</div>
    <div th:replace="~{include/footer :: footer}"></div>
</body>
</html>