<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 이력서 상세보기</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<div th:replace="~{include/header :: guestHeader}"></div> 
	<div layout:fragment="content" class="content">
		<div><!-- 이력서 출력 폼 -->
			<h1 th:text="${Content.profile_name}"></h1>
			<div>
				<table border="1" width="650">
					<tr>
						<td rowspan="3"><img th:src="@{'/image/profile/'+${Content.profile_image}}" alt="Profile Image" width="170" height="200"></td>
						<td th:text="${Content.user_name}"></td>
						<td th:text="${Content.user_gender}"></td>
						<td colspan="2" th:text="${#strings.substringBefore(Content.user_birth, ' ')}"></td>
					</tr>
					<tr>
						<td>휴대폰</td>
						<td th:text="${Content.user_phone}"></td>
						<td>Email</td>
						<td th:text="${Content.user_email}"></td>
					</tr>
					<tr>
						<td>주소</td>
						<td colspan="3" th:text="${Content.user_addr}"></td>
					</tr>
				</table>
			</div> <!-- 인적사항 (출력 / 수정) -->
			
			<div class="edu_div" >
				<h2>학력</h2>
				 <ul>
                    <li th:each="edu : ${EduList}" th:text="${edu.edu_name}"></li>
                </ul>
			</div><!--학력  -->
				
			<div class="career_div">
				<h2>경력</h2>
			<table border="1" width="700">
			    <thead>
			        <tr>
			            <th>회사명</th>
			            <th>기간</th>
			            <th>내용</th>
			            <th>직급</th>
			            <th>퇴사사유</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="career : ${CareerList}">
			            <td th:text="${career.career_company}"></td>
			            <td th:text="${career.career_start_date + ' ~ ' + career.career_end_date}"></td>
			            <td>
			                <textarea th:text="${career.career_cont}" readonly></textarea>
			            </td>
			            <td th:text="${career.career_position}"></td>
			            <td th:text="${career.career_bye}"></td>
			        </tr>
			    </tbody>
			</table>

			</div> 
			
			<div class="license_div">
				<h2>자격증</h2>
				<ul>
			        <li th:each="license : ${License}" th:text="${license.license_name}"></li>
			    </ul>
			</div>	<!-- 자격증 --> 
			
			<div class="history_div">
				<h2>성장과정</h2>
				<span style="white-space: pre-line" th:text="${Content.profile_history}"></span>
				
				<h2>지원동기</h2>
					<span style="white-space: pre-line" th:text="${Content.profile_apply}"></span>
					
				<h2>성격 장단점</h2>
				<span style="white-space: pre-line" th:text="${Content.profile_character}"></span>
				
				<h2>입사 후 포부</h2>
				<span style="white-space: pre-line" th:text="${Content. profile_plan}"></span>
			</div>
			

			<div class="Portfolio_div">
			    <h2>포트폴리오</h2>
			    <a th:href="@{/download/ppt/{filename}(filename=${Content.profile_ppt})}" th:text="${Content.profile_ppt}"></a>
			</div>
			
			
			<div class="hopejob_div">
				<h2>희망근무조건</h2>
				<span>희망근무형태</span>&nbsp;<span th:text="${Content.profile_job}"></span><br>
				<span>희망연봉</span>&nbsp;<span th:text="${Content.profile_pay}"></span>
			</div> <!-- 희망근무조건 -->
		</div> 
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>