<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 이력서 작성</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/profile.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/profile/profileInsert.js}"></script>
<link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>

	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
	
	<div align="center">
		<div><br><br><!-- 이력서 입력 폼 -->
			<form id="profileForm" method="POST" action="/U/profile/insertOk" enctype="multipart/form-data">
				<input name="profile_name" size="120" placeholder="이력서 제목을 작성해주세요" class="custom-input"><br><br>
				<table border="1" width="800">
				    <tr>
				        <td rowspan="3" width="100px" height="250px">
				            <img width="190px" height="210px" id="preview">
				            <input type="file" id="imageFile" name="profile_image_input" accept=".jpeg, .jpg, .png">
				        </td>
				        <th>이름</th>
				        <td th:text="${userDto.user_name}"></td>
				        <th>성별</th>
				        <td th:text="${userDto.user_gender}"></td>
				        <th>생년월일</th>
				        <td th:text="${#strings.substringBefore(userDto.user_birth, ' ')}"></td>
				    </tr>
				    <tr>
				        <th>휴대폰</th>
				        <td colspan="3" th:text="${userDto.user_phone}"></td>
				        <th>Email</th>
				        <td th:text="${userDto.user_email}"></td>
				    </tr>
				    <tr>
				        <th>주소</th>
				        <td colspan="5" th:text="${userDto.user_addr}"></td>
				    </tr>
			 </table>

		
				<hr>
				
				
				<div class="profile_job_div">
				 	<!-- 선택된 카테고리 값을 저장할 숨겨진 필드들 -->
					<h2>희망직무</h2>
					<div>
						<input type="button" id="category_add_button" value="분류추가">
						<h5>대분류</h5>
						<ul>
							<li th:each="category : ${categories}">
								<a href="#" class="category_link" th:data-code="${category.code}" th:text="${category.name}"></a>
							</li>
						</ul>
					
						<h5>중분류</h5>
							<ul id="subCategoriesTable"></ul>
						
						<h5>소분류</h5>
							<ul id="stepCategoriesTable"></ul>	
								
						<div>
				            <input type="hidden" name="profile_group1" id="profile_group1">
				            <input type="hidden" name="profile_sub1" id="profile_sub1">
				            <input type="hidden" name="profile_step1" id="profile_step1">
				            <input type="hidden" name="profile_group2" id="profile_group2">
				            <input type="hidden" name="profile_sub2" id="profile_sub2">
				            <input type="hidden" name="profile_step2" id="profile_step2">
				            
				            <span id="group1"></span><span id="sub1"></span><span id="step1"></span><span id="x1"></span><br>
				            
				            <span id="group2"></span><span id="sub2"></span><span id="step2"></span><span id="x2"></span>
				            
						</div>				
					</div>
				</div><!-- 업무분야 -->
				
				<hr>
				
				<div class="edu_div"> 
					<h2>학력</h2>
					<div>
		       			<div id="add_edu_input_form">
		       			</div>
					</div>
					
					<button type="button" id="addEducation">학력 추가</button>
					<div>
		       			<ul id="search_school"></ul>
		       			<ul id="search_major"></ul>
					</div>
		       			
				</div> <!-- 학력 -->
				<hr>
		
				<div class="career_div">
				
					<h2>경력</h2>
					<div>
						<div id="add_career_input_form"></div>
					</div>

					
					<button type="button" id="addCareer">경력 추가</button>
				</div><!-- 경력 -->
				
				<hr>
				
				<div class="history_div">
					
					<h2>성장과정</h2>
					  <textarea rows="20" cols="80" name="profile_history"></textarea>
				</div>
				
				<hr>
				
				<div class="apply_div">
					
					<h2>지원동기</h2>
					<textarea rows="20" cols="80" name="profile_apply"></textarea>
				
				</div>
				
				<hr>
				
				<div class="character_div">
					
					<h2>성격 장단점</h2>
					<textarea rows="20" cols="80" name="profile_character"></textarea>
				
				</div>
				
				<hr>
				
					<div class="plan_div">
					
					<h2>입사 후 포부</h2>
					<textarea rows="20" cols="80" name="profile_plan"></textarea>
				
				</div>
				
				<hr>
					
				<div class="license_div">
				
					<h2>자격증</h2>
					<div>
						<div id="add_license_input_form">
						</div>	
					</div>
						<button type="button" id="addLicense">자격증추가</button>
					<div>
						<ul id="search_license"></ul>
					</div>
				</div><!-- 자격증 -->	
				
				<hr>
				
				<div class="Portfolio_div">
				
					<h2>포트폴리오</h2>
					<div>
						<input type="file" name="profile_ppt_input">
					</div>
				
				</div><!-- 포트폴리오 -->

				<hr> 
				
				<div class="hopejob_div">
				
					<h2>희망근무조건</h2>
					<div>
						<select name="profile_job">
						    <option value="정규직">정규직</option>
						    <option value="계약직">계약직</option>
						    <option value="병역특례">병역특례</option>
						    <option value="프리랜서">프리랜서</option>
						    <option value="헤드헌팅">헤드헌팅</option>
						    <option value="파견대행">파견대행</option>
						    <option value="인턴직">인턴직</option>
						</select>
						<input name="profile_pay" placeholder="희망연봉">
					</div>
				</div><!-- 희망근무조건 -->
				
				<hr>
				
				<div class="Completed_div">
				
					<div align="center">
						<input type="submit" value="이력서저장">
						<input type="button" value="이력서관리" th:onclick="|location.href='@{/U/profile}'|">
					</div>
				</div><!-- 버튼 -->
				
			</form>
		</div>
	</div>
</div>		
	<div th:replace="~{include/footer :: footer}"></div>
</body>


</html>