<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세 내역 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/include.css}">
	<link rel="stylesheet" th:href="@{/css/chat.css}">
</head>
<body>
<div th:replace="~{include/header}"></div>
    <div class="mainContainer">
		<div class="sidebar active">
      		<h3>게시판 리스트</h3>
        	<a th:href="@{/}">글쓰기</a>
        	<a th:text="${session.uDTO.user_name}"></a>
      </div>
	 
		<div class="user-info">
        <div class="content">
            <h3>유저 정보</h3>
            <ul class="user-list">
                <li th:inline="text">제목 : [[${cont.chat_title}]]</li>
	            <li th:inline="text">내용 : [[${cont.chat_cont}]]</li>
	            <li th:inline="text">작성자 : [[${cont.user_id}]]</li>
	            <li th:inline="text">조회수 : [[${cont.chat_hit}]]</li>
	            <li th:inline="text">추천 : [[${cont.chat_like}]]</li>
            </ul>
        </div>
				
	</div>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
	 
</body>
</html>
