<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정 페이지</title>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <link rel="stylesheet" th:href="@{/css/include.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        CKEDITOR.replace('chat_cont');
    });
	</script>
</head>
<body>
<div th:replace="~{include/header}"></div>
<div layout:fragment="content" class="content"> 
    <div class="sidebar active">
			<h3><a style="text-align: center; background-color: #007BFF; padding-bottom: 20px; padding-top: 20px; font-size: 18px;" 
				   th:href="@{/U/chat/insert}">질문 · 글쓰기</a></h3>
   			<br>
   			<table class="chat-user">
   				<tr>
   					<th:block th:if="${profileList != null and profileList.size() > 0}">
   						<th:block th:each="profile : ${profileList}">
				            <img th:if="${profile.profile_default == 'Y'}" 
				                 th:src="@{'/image/profile/' + ${profile.profile_image}}"
				                 alt="Profile Image" style="width: 90px; height: 90px; margin-left: 75px; margin-bottom: -8px;" />
        				</th:block>
   					</th:block>
   					<th:block th:if="${profileList == null or profileList.isEmpty()}">
   						<img th:src="@{/image/profile/기본 고양이 이미지.PNG}" alt="Profile Image" 
   						     style="width: 90px; height: 90px; margin-left: 75px; margin-bottom: -8px;" />
   					</th:block>
   				</tr>
   				<tr>
   					<th th:inline="text">[[${session.uDTO.user_name}]] 님</th>
   				</tr>
   				<tr>
					 <th class="chat-table">
                        <th:block th:if="${null != session.uDTO}">
                            <!-- <span th:text="${session.uDTO.user_name}"></span> <br> -->
                            <span class="user_id" th:text="${session.uDTO.user_id}"></span> <br>
                            <span style="display: none;" class="user_key" th:text="${session.uDTO.user_key}"></span><br>
                            <span th:inline="text">작성글 [[${chatCnt}]]</span>&nbsp;
                            <span th:inline="text">답변글 [[${replyCnt}]]</span>
                        </th:block>
                        <th:block th:if="${null == session.uDTO}">
                            <span>게스트</span>
                        </th:block>
                    </th>
				</tr>
			</table>
		</div>
    
    <div class="chat-info sidebar_r"> 
        <div class="form-container"> 
            <div class="text-center">
                <h3 th:if="${modify != null}" th:text="${modify.user_id} + ' 님 게시물 수정 페이지'"></h3>
                <h3 th:if="${modify == null}">게시물 정보를 불러오지 못했습니다.</h3>
                <br><br>
            </div>

            <form th:if="${modify != null}" method="post" action="/U/chat/updateOk">
                <input type="hidden" name="chat_key" th:value="${modify.chat_key}">

                <div class="form-group">
                    <label for="user_id">작성자</label>
                    <input type="text"  id="user_id" name="user_id" readonly th:value="${modify.user_id}">
                </div>

                <div class="form-group">
                    <label for="chat_title">글제목</label>
                    <input type="text"  id="chat_title" name="chat_title" th:value="${modify.chat_title}">
                </div>

                <div class="form-group">
                    <label for="chat_cont">글내용</label>
                    <textarea id="chat_cont" rows="7" name="chat_cont" th:text="${modify.chat_cont}"></textarea>
                </div>

                <div class="form-group">
                    <label for="chat_tag">태그</label>
                    <input type="text"  id="chat_tag" name="chat_tag" th:value="${modify.chat_tag}">
                </div>

                <div class="text-center">
                    <button type="submit">글수정</button>
                    <button type="reset">다시작성</button>
                </div>
            </form>

            <div th:if="${modify == null}" class="text-center">
                <h3>게시물 정보를 불러오지 못했습니다.</h3>
            </div>
        </div> 
    </div>
</div>
<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>
