<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글쓰기 폼 페이지</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> <!-- 추가된 jQuery 스크립트 -->
    
	<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <link rel="stylesheet" th:href="@{/css/include.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}"> 
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        CKEDITOR.replace('chat_cont');
    });
	</script>
</head>
<body>
<div th:replace="~{include/header}"></div>
<div layout:fragment="content" class="content"> 
    <div class="sidebar active">
		<h3><a style="text-align: center; background-color: #007BFF; padding-bottom: 20px; padding-top: 20px; font-size: 18px;" 
			   th:href="@{/U/chat/insert}">질문 · 글쓰기</a></h3>
  			<br>
  			<table class="chat-user">
  				<tr>
  					<th:block th:if="${profileList != null and profileList.size() > 0}">
  						<th:block th:each="profile : ${profileList}">
			            <img th:if="${profile.profile_default == 'Y'}" 
			                 th:src="@{'/image/profile/' + ${profile.profile_image}}"
			                 alt="Profile Image" style="width: 90px; height: 90px; margin-left: 75px; margin-bottom: -8px;" />
       				</th:block>
  					</th:block>
  					<th:block th:if="${profileList == null or profileList.isEmpty()}">
  						<img th:src="@{/image/profile/기본 고양이 이미지.PNG}" alt="Profile Image" 
  						     style="width: 90px; height: 90px; margin-left: 75px; margin-bottom: -8px;" />
  					</th:block>
  				</tr>
  				<tr>
  					<th th:inline="text">[[${session.uDTO.user_name}]] 님</th>
  				</tr>
  				<tr>
				 <th class="chat-table">
                       <th:block th:if="${null != session.uDTO}">
                           <!-- <span th:text="${session.uDTO.user_name}"></span> <br> -->
                           <span class="user_id" th:text="${session.uDTO.user_id}"></span> <br>
                           <span style="display: none;" class="user_key" th:text="${session.uDTO.user_key}"></span><br>
                           <span th:inline="text">작성글 [[${chatCnt}]]</span>&nbsp;
                           <span th:inline="text">답변글 [[${replyCnt}]]</span>
                       </th:block>
                       <th:block th:if="${null == session.uDTO}">
                           <span>게스트</span>
                       </th:block>
                   </th>
			</tr>
		</table>
	</div>
    
    <div class="chat-info sidebar_r"> 
    	 <div class="form-container"> 
        <form method="post" action="/U/chat/insertOk">
        		<input type="hidden" name="user_key" th:value="${session.uDTO.user_key}"> 
            <div>
                <input type="text" id="chat_title" name="chat_title" placeholder="제목을 입력하세요">
            </div>
            <label for="chat_cont" >글 내용</label>
            <div>
                <textarea id="chat_cont" rows="7" name="chat_cont"></textarea>
            </div>     
            <div>
                <input type="text" id="chat_tag" name="chat_tag" placeholder="#태그입력 (#으로 구분해주세요)">
            </div>
            <div class="text-center">
                <button type="submit">글쓰기</button>
                <a th:href="@{/A/chat}">
                	<input type="button" value="취소">
                </a>
            </div>
        </form>
        </div> 
    </div>
</div>
<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>
