<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글쓰기 폼 페이지</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> <!-- 추가된 jQuery 스크립트 -->
    <link rel="stylesheet" th:href="@{/css/include.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}"> 
</head>
<body>
<div th:replace="~{include/header}"></div>
<div layout:fragment="content" class="content"> 
    <div class="sidebar active"> 
        <h3><a th:href="@{/U/chat/insert}">질문 · 글쓰기</a></h3>
        <br>
        <table class="chat-user"> 
            <tr>
                <th>내 정보</th>
            </tr>
            <tr>
                <th class="chat-table"> <!-- class="chat-table" 추가 -->
                    <th:block th:if="${null != session.uDTO}">
                        <span th:text="${session.uDTO.user_name}"></span> <br>
                        <span th:text="${session.uDTO.user_id}"></span> <br>
                        <span th:inline="text">질문 [[${chatCnt}]]개</span>
                    </th:block>
                    <th:block th:if="${null == session.uDTO}">
                        <span>게스트</span>
                    </th:block>
                </th>
            </tr>
        </table>
    </div>
    
    <div class="chat-info sidebar_r"> 
    	 <div class="form-container"> 
        <form method="post" action="/U/chat/insertOk">
        		<input type="hidden" name="user_key" th:value="${session.uDTO.user_key}"> 
            <div>
                <input type="text" id="chat_title" name="chat_title" placeholder="제목을 입력하세요">
            </div>
            <label for="chat_cont" >글 내용</label>
            <div>
                <textarea id="chat_cont" rows="7" name="chat_cont"></textarea>
            </div>     
            <div>
                <input type="text" id="chat_tag" name="chat_tag" placeholder="#태그입력 (#으로 구분해주세요)">
            </div>
            <div class="text-center">
                <button type="submit">글쓰기</button>
                <button type="reset">다시작성</button>
            </div>
        </form>
        </div> 
    </div>
</div>
<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>
