<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글쓰기 폼 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 부트스트랩 CSS 추가 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/include.css}">
	<link rel="stylesheet" th:href="@{/css/chat.css}">
</head>
<body>
<div th:replace="~{include/header}"></div>
<div class="container">
    <div class="text-center mt-5">
        <hr width="30%" color="gray">
        <h3>게시판 글쓰기 폼 페이지</h3>
        <hr width="30%" color="gray">
        <br><br>
    </div>
    
    <form method="post" action="/U/chat/insertOk">
        
        <input type="hidden" name="user_key" th:value="${session.uDTO.user_key}">
        
        <div class="mb-3 row">
            <label for="chat_title" class="col-sm-2 col-form-label text-right">글제목</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="chat_title" name="chat_title">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="chat_cont" class="col-sm-2 col-form-label text-right">글 내용</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="chat_cont" rows="7" name="chat_cont"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="chat_tag" class="col-sm-2 col-form-label text-right">태그</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="chat_tag" name="chat_tag">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">글쓰기</button>
            <button type="reset" class="btn btn-secondary">다시작성</button>
        </div>
    </form>
</div>

<!-- 부트스트랩 JS 및 jQuery 추가 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div th:replace="~{include/footer :: footer}"></div>

</body>
</html>
