<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <div th:fragment="footer">
	 	<div class="footer-top">
			<div class="fcontainer">
				<div class="footer-links">
					<a href="#">회사소개</a>
                    <a href="#">브랜드스토리</a>
                    <a href="#">이용약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="#">Open API</a>
                    <a href="#">광고문의</a>
                    <a href="#">제휴문의</a>
                    <a href="#">고객센터</a>
				</div>
			</div>
		</div>
		<div class="footer-middle">
			<div class="container">
				<p>고객센터 : XXXX-XXXX (평일 09:30 - 18:30 토요일 09:30 - 18:30) | FAX : 010-9043-7042 | Email : ftvkal98@naver.com</p>
				
			</div>
		</div>
		<div class="footer-bottom">
			<div class="fcontainer">
				<p>&copy; WORKWAVE LLC. All rights reserved.</p>
			</div>
		</div>
	</div>
</body>
</html>