<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 공고작성</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/comBoard.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/comBoard.js}"></script>
</head>
<body>
	<div th:replace="~{include/header :: guestHeader}"></div> 
	<div layout:fragment="content" class="content">
		
	
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>