<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/image/icon/logo_icon.png"/> 
<title>Work Wave 공고 상세보기</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/comBoard.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div th:replace="~{include/header}"></div>
		<div layout:fragment="content" class="content">
			<div>
				<div>
					<h3>채용정보</h3>
					<div>
						<div>
							<h6 th:text="${map.dto.company_name}"></h6>
							<h4 th:text="${map.dto.com_board_title}"></h3>
						</div>
						<div>
							<div>
								<h6>지원자격</h6>
								<dl>
									<dt>경력</dt>
									<dd th:text="${map.dto.com_board_career}"></dd>
									<dt>학력</dt>
									<dd th:text="${map.dto.com_board_edu}"></dd>
								</dl>
								<h6>근무조건</h6>
								<dl>
									<dt>고용형태</dt>
									<dd th:text="${map.dto.com_board_jobtype}"></dd>
									<dt>급여</dt>
									<dd th:text="${map.dto.com_board_sal}"></dd>
									<dt>지역</dt>
									<dd th:text="${map.dto.company_addr}"></dd>
									<dt>시간</dt>
									<dd th:text="${map.dto.com_board_week+map.dto.com_board_time}"></dd>
								</dl>
							</div>
						</div>
					</div>
					
					<div class="top_r_cominfo_div">
						<a>
							<img th:if="${map.dto.company_logo != null}" th:src="@{'\\image\\logo\\'+${map.dto.company_logo}}" alt="${map.dto.company_logo_name}">
							<img th:if="${map.dto.company_logo == null}" src="/image/icon/logo_icon.png" alt="로고미등록">
						</a>
						<dl>
							<dt>업종</dt>
							<dd th:text="${map.dto.com_board_step}"></dd>
							<dt>사원 수</dt>
							<dd th:text="${map.dto.company_emp_count}"></dd>
							<dt>설립입</dt>
							<dd th:text="${map.dto.company_regdate}"></dd>
							<dt>홈페이지</dt>
							<dd><a th:href="@{${map.dto.company_homepage}}" th:text="${map.dto.company_homepage}"></a></dd>
						</dl>
					</div>
				</div><!-- 채용정보 -->
				
				<div>
					<ul>
						<li><a th:href="@{/}">상세요강</a></li>
						<li><a th:href="@{/}">접수기간</a></li>
						<li sec:authorize="isAuthenticated() and hasRole('USER')"><a th:href="@{/}">지원자현황</a></li>
						<li><a th:href="@{/}">기업정보</a></li>
					</ul>
				</div><!-- content nav -->
				
				<div>
					<div th:utext="${map.dto.com_board_cont}"></div>
				</div><!-- 상세 -->
				
				<div>
					<h3>접수기간</h3>
					<dl>
						<dt>시작일</dt>
						<dd th:text="${map.dto.com_board_start_date}"></dd>
						<dt>마감일</dt>
						<dd th:text="${map.dto.com_board_end_date}"></dd>
					</dl>
				</div><!-- 접수기간 -->
				
				<div sec:authorize="isAuthenticated() and hasRole('USER')">
					<h3>지원자 현황 통계</h3>
					<div>
						<h6>지원자 수</h6>
						<p th:text="${map.applyTotal}"></p>
					</div>
					<div>
						<h6>모집인원</h6>
						<p th:text="${map.dto.com_board_mojib}"></p>
					</div>
					<div>
						<h6>연령</h6>
						<div th:if="${!map.avgAge.isEmpty()}">
							<dl th:each="avgAge:${map.avgAge}">
								<dt th:text="${avgAge.AGE+' 대'}"></dt>
								<dd th:text="${avgAge.COUNT+'명'}"></dd>
							</dl>
						</div>
					</div>
					<div>
						<h6>성별</h6>
						<div th:if="${!map.avgGender.isEmpty()}">
							<dl th:each="avgGender:${map.avgGender}">
								<dt th:if="${avgGender.GENDER=='M'}">남자</dt>
								<dt th:if="${avgGender.GENDER=='F'}">여자</dt>
								<dd th:text="${avgGender.COUNT+'명'}"></dd>
							</dl>
						</div>
					</div>
					<div>
						<h6>학력</h6>
						<div th:if="${!map.avgEdu.isEmpty()}">
							<dl th:each="avgEdu:${map.avgGender}">
								<dt th:text="${avgEdu.Edu}"></dt>
								<dd th:text="${avgEdu.COUNT+'명'}"></dd>
							</dl>
						</div>
					</div>
				</div><!-- 지원자 통계 -->
				
				<div>
					<h3>기업정보</h3>
					<a>
						<img th:if="${map.dto.company_logo != null}" th:src="@{'\\image\\logo\\'+${map.dto.company_logo}}" alt="${map.dto.company_logo_name}">
						<img th:if="${map.dto.company_logo == null}" src="/image/icon/logo_icon.png" alt="로고미등록">
					</a>
					<dl>
						<dt>업종</dt>
						<dd th:text="${map.dto.com_board_step}"></dd>
						<dt>사원 수</dt>
						<dd th:text="${map.dto.company_emp_count}"></dd>
						<dt>설립입</dt>
						<dd th:text="${map.dto.company_regdate}"></dd>
						<dt>매출액</dt>
						<dd th:text="${map.dto.company_sal}"></dd>
						<dt>복리후생</dt>
						<dd th:text="${map.dto.com_board_benefits}"></dd>
					</dl>
				</div><!-- 기업정보 -->
			</div>
			
			
			<div sec:authorize="isAuthenticated() and hasRole('COMPANY')">
				<h3>포지션제안</h3>
				
			</div><!-- 포지션제안 -->
			
			<div>
				<input type="button" th:onclick="|location.href='@{/A/comBoard(P=${map.P})}'|" value="목록">
			</div>
		</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>