<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/image/icon/logo_icon.png"/> 
<title>Work Wave 공고리스트</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/comBoard.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/comBoard/main.js}"></script>
<script th:src="@{/js/comBoard/list.js}"></script>
</head> 

<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
		<input sec:authorize="isAuthenticated() and hasRole('USER')" type="hidden" id="sessionID" th:value="${session.uDTO.user_id}">
		<input sec:authorize="isAuthenticated() and hasRole('COMPANY')" type="hidden" id="sessionID" th:value=1>
		<input type="hidden" id="getPage" th:value="${P}">
		<div class="comBoardListPageTotalDiv">
			<div>
				<h2>채용공고 검색</h2>
			</div>
			<div class="comBoardSearchTotalDiv">
				<div class="comBoardSearchDiv">
					<h5>공고명</h5>
					<input name="keyword" id="keyword" class="textW99">
				</div>
				<div id="jobCodeOutputDiv" class="comBoardSearchDiv">
					<input type="hidden" name="jobCode" id="jobCode">
					<input type="hidden" name="jobSubCode" id="jobSubCode">
					<h5>직업분류</h5>
					<div id="jobCodeViewDiv" class="codeViewDiv"></div>
					<div id="jobCodeTotalDiv" class="codeTotalDiv" style="display: none;">
						<div id="jobCodeGroupDiv" class="codeDiv">
							<ul id="jobCodeGroupUl" class="codeUl"></ul>
						</div>
						<div id="jobCodeSubDiv" class="codeDiv"></div>
						<div id="jobCodeStepDiv" class="codeDiv"></div>
					</div>
				</div>
				
				<div id="locationCodeOutputDiv" class="comBoardSearchDiv">
					<input type="hidden" name="locCode" id="locCode">
					<input type="hidden" name="locSubCode" id="locSubCode">
					<h5>지역</h5>
					<div id="locCodeViewDiv" class="codeViewDiv"></div>
					<div id="locationCodeTotalDiv" class="codeTotalDiv" style="display: none;">
						<div id="locationCodeGroupDiv" class="codeDiv">
							<ul id="locationCodeGroupUl" class="codeUl"></ul>
						</div>
						<div id="locationCodeSubDiv" class="codeDiv"></div>
					</div>
				</div>
				<div id="eduCodeDiv" class="comBoardSearchDiv">
					<input type="hidden" id="eduCode_checked">
					<h5>학력</h5>
					<table class="optionTb">
						<tr>
							<td><input type="checkbox" name="eduCode" id="eduCode01" class="checkCss" value="고등학교졸업"><label for="eduCode01">고등학교졸업</label></td>
							<td><input type="checkbox" name="eduCode" id="eduCode02" class="checkCss" value="전문대학졸업"><label for="eduCode02">전문대학졸업</label></td>
							<td><input type="checkbox" name="eduCode" id="eduCode03" class="checkCss" value="대학교졸업"><label for="eduCode03">대학교졸업</label></td>
							<td><input type="checkbox" name="eduCode" id="eduCode04" class="checkCss" value="대학원(석사)"><label for="eduCode04">대학원(석사)</label></td>
							<td><input type="checkbox" name="eduCode" id="eduCode05" class="checkCss" value="대학원(박사)"><label for="eduCode05">대학원(박사)</label></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="eduCode" id="eduCode06" class="checkCss" value="학력무관"><label for="eduCode06">학력무관</label></td>
						</tr>
					</table>
				</div>
				<div id="careerCodeDiv" class="comBoardSearchDiv">
					<input type="hidden" id="careerCode_checked">
					<h5>경력</h5>
					<table class="optionTb">
						<tr>
							<td><input type="checkbox" name="careerCode" id="careerCode01"  class="checkCss" value="신입"><label for="careerCode01">신입</label></td>
							<td><input type="checkbox" name="careerCode" id="careerCode02"  class="checkCss" value="1년이상"><label for="careerCode02">1년이상</label></td>
							<td><input type="checkbox" name="careerCode" id="careerCode03"  class="checkCss" value="2년이상"><label for="careerCode03">2년이상</label></td>
							<td><input type="checkbox" name="careerCode" id="careerCode04"  class="checkCss" value="3년이상"><label for="careerCode04">3년이상</label></td>
							<td><input type="checkbox" name="careerCode" id="careerCode05"  class="checkCss" value="5년이상"><label for="careerCode05">5년이상</label></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="careerCode" id="careerCode06"  class="checkCss" value="10년이상"><label for="careerCode06">10년이상</label></td>
							<td><input type="checkbox" name="careerCode" id="careerCode07"  class="checkCss" value="15년이상"><label for="careerCode07">15년이상</label></td>
							<td><input type="checkbox" name="careerCode" id="careerCode08"  class="checkCss" value="20년이상"><label for="careerCode08">20년이상</label></td>
							<td><input type="checkbox" name="careerCode" id="careerCode09"  class="checkCss" value="경력무관"><label for="careerCode09">경력무관</label></td>
						</tr>
					</table>
				</div>
				<div id="searchDataDiv" class="comBoardSearchDiv" style="border: 0;">
					<input type="hidden" id="typeCode_checked">
					<h5>고용형태</h5>
					<table class="optionTb">
						<tr>
							<td><input type="checkbox" name="typeCode" id="typeCode01"  class="checkCss" value="정규직"><label for="typeCode01">정규직</label></td>
							<td><input type="checkbox" name="typeCode" id="typeCode02"  class="checkCss" value="계약직"><label for="typeCode02">계약직</label></td>
							<td><input type="checkbox" name="typeCode" id="typeCode03"  class="checkCss" value="인턴"><label for="typeCode03">인턴</label></td>
							<td><input type="checkbox" name="typeCode" id="typeCode04"  class="checkCss" value="파견직"><label for="typeCode04">파견직</label></td>
							<td><input type="checkbox" name="typeCode" id="typeCode05"  class="checkCss" value="프리랜서"><label for="typeCode05">프리랜서</label></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="typeCode" id="typeCode06"  class="checkCss" value="무관"><label for="typeCode06">무관</label></td>
						</tr>
					</table>
				</div><!-- 선택한 검색 값 -->
					
			</div> <!-- 검색 input -->
			
			<div class="comBoardListBtDiv"><!-- 검색버튼 -->
				<input type="button" class="btCss btCss1" onclick="getComBoardList(1)" value="조건검색">
			</div>
			
			<div>
				<div class="totalPageInfoDiv">
					<div id="total"></div>
					<div id="pageInfo"></div>
				</div>
				<div id="searchOptionDiv">
					
				</div>
				<table id="jobListTb" class="comBoardListTb"></table>
				<div class="comBoardListBtDiv">
					<input type="button" id="all_apply" class="btCss btCss1" value="선택기업 지원" >
				</div>
			</div> <!-- 리스트 -->
			<div>
				<!-- Page navigation -->
	            <ul class="pagination" id="pagination"></ul>
			</div> <!-- 페이징 -->
		</div>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>