<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 공고리스트</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/comBoard.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/comBoardList.js}"></script>
</head> 

<body>
<div th:replace="~{include/header :: guestHeader}"></div> 
	<div layout:fragment="content" class="content">
		<div>
			<div id="jobCodeOutputDiv"><span>분류검색</span></div>
			<div id="jobCodeTotalDiv" class="codeTotalDiv">
				<div id="jobCodeGroupDiv" class="codeDiv">
					<ul id="jobCodeGroupUl"></ul>
				</div>
				<div id="jobCodeSubDiv" class="codeDiv"></div>
				<div id="jobCodeStepDiv" class="codeDiv"></div>
			</div>
			
			<div id="locationCodeOutputDiv">지역검색</div>
			<div id="locationCodeTotalDiv" class="codeTotalDiv">
				<div id="locationCodeGroupDiv" class="codeDiv">
					<ul id="locationCodeGroupUl"></ul>
				</div>
				<div id="locationCodeSubDiv" class="codeDiv"></div>
			</div>
			<div>
				<div id="eduCodeDiv">
					<ul>
						<li><input type="checkbox" name="" id="" value=""><label for="">대학졸업(2~3년)</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">대학졸업(4년)</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">대학원 석사</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">대학원 박사</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">고등락교졸업</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">학력무관</label></li>
					</ul>
				</div>
				<div id="careerCodeDiv">
					<ul>
						<li><input type="checkbox" name="" id="" value=""><label for="">신입</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">1 ~ 3년</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">4 ~ 6년</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">7 ~ 9년</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">10 ~ 15년</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">16 ~ 20년</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">21년 이상</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">경력무관</label></li>
					</ul>
				</div>
				<div id="searchDataDiv">
					<ul>
						<li><input type="checkbox" name="" id="" value=""><label for="">정규직</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">계약직</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">인턴</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">파견직</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">프리랜서</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">16 ~ 20년</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">21년 이상</label></li>
						<li><input type="checkbox" name="" id="" value=""><label for="">경력무관</label></li>
					</ul>
				</div><!-- 선택한 검색 값 -->
			</div>
				
			<div><!-- 검색버튼 -->
				<input type="button" value="조건검색">
			</div>
		</div> <!-- 검색 input -->
		<div>
			<table id="jobListTb"></table>
		</div> <!-- 리스트 -->
		<div></div> <!-- 페이징 -->
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>