<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
    <title>Work Wave Notice Content</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/notice.css}">

</head>
<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
	<h2>공지사항 상세 페이지</h2>
	
		<table border="1">
			<thead>
				<tr>
					<th>제목</th>
					<td th:text="${nCont.notice_title}">
					</td>
					<td th:text="${nCont.notice_date.substring(0, 10)}">
					</td>
				</tr>
			</thead>
			
			<tbody align="center">
				<tr>
					<td th:text="${nCont.notice_cont}" colspan="3">
					</td>
				</tr>
			</tbody>
			
			<tfoot>
				<tr>
			        <td style="text-align: left;">
    					
					    <button onclick="window.history.back()">목록</button>
					</td>
					<td></td>
					<td style="text-align: right;">
					    
					    <button onclick="window.scrollTo(0, 0)">맨 위로</button>
					</td>
    			</tr>
			</tfoot>
			
		</table>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>