<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
    <title>Work Wave Notice Content</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">

</head>
<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
		<div class="sidebar active">
			<h3>공지사항</h3>
			<a th:href="@{/A/userFAQ}">개인회원</a>
			<a th:href="@{/A/companyFAQ}">기업회원</a>
			<a th:href="@{/A/notice}" class="select">공지사항</a>
			<a th:href="@{/G/findId}">아이디 찾기</a>
			<a th:href="@{/G/findPwd}">비밀번호 찾기</a>
			<a th:href="@{/resign}">회원탈퇴</a>
		</div>
	
	
		<div class="faq-list sidebar_r">
		<h2>공지사항</h2>
	
		<table class="notice-cont">
			<thead>
				<tr>
					<th style="color: #007BFF">공지</th>
					<td th:text="${nCont.notice_title}">
					</td>
					<td th:text="${nCont.notice_date.substring(0, 10)}">
					</td>
				</tr>
			</thead>
			
			<tbody align="center">
				<tr>
					<td style="font-size: 14px" th:utext="${nCont.notice_cont}" colspan="3">
					</td>
				</tr>
			</tbody>
			
			<tfoot class="notice-btn">
				<tr>
			        <td>
					    <button onclick="window.history.back()">목록</button>
					</td>
					<td></td>
					<td>
					    <button onclick="window.scrollTo(0, 0)">TOP</button>
					</td>
    			</tr>
			</tfoot>
		</table>
		</div>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>