<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Work Wave FAQ</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
<script>
	function showList(type) {
		var userList = document.getElementById('userList');
		var companyList = document.getElementById('companyList');

		userList.classList.remove('active');
		companyList.classList.remove('active');

		if (type === 'user') {
			userList.classList.add('active');
		} else if (type === 'company') {
			companyList.classList.add('active');
		}
	}

	function toggleDetail(event) {
		var cont = event.currentTarget.querySelector('.FAQCont');

		if (cont.style.display === 'block') {
			cont.style.display = 'none';
		} else {
			cont.style.display = 'block';
		}
	}
</script>
</head>
<body onload="showList('user')">
	<div th:include="include/header::guestHeader"></div>
	<div layout:fragment="content" class="content">
		<h2>FAQ</h2>

		<div class="mainContainer">
			<div class="sidebar">
				<button onclick="showList('user')">개인회원</button>
				<button onclick="showList('company')">기업회원</button>
			</div>

			<div class="content">
				<div id="listContainer">
					<div id="userList" class="listContainer">
						<h3>개인회원 FAQ</h3>
						<ul>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span>
								로그인 상태 유지란?
								<div class="FAQCont">
									편리하게 로그인 상태를 유지할 수 있는 기능입니다. <br> ‘로그인 상태 유지’를 체크한 후
									로그인하면, 로그아웃하거나 브라우저의 쿠키를 삭제하기 전까지는 로그인 상태가 계속 유지됩니다. <br>
									단, 1주 동안 동일 브라우저로 해당 기기(PC, 스마트폰 등)에서 WorkWave를 사용하지 않는다면 ‘로그인
									상태 유지’는 해제될 수 있습니다. <br> <br> - 이 기능을 이용함으로써 발생하는 보안
									문제의 책임은 본인에게 있습니다. <br> - 브라우저에서 제공하는 ‘개인정보보호 브라우징
									(InPrivate 브라우징)’ 상태로 이용할 경우 쿠키가 저장되지 않아 ‘로그인 상태 유지’ 기능을 사용할 수
									없습니다. <br> <br> · 해제방법 <br> - 방법1. 로그아웃하면 ‘로그인
									상태 유지’가 바로 해제됩니다. <br> - 방법2. 브라우저 캐시 및 쿠키를 삭제하면 ‘로그인 상태
									유지’가 해제됩니다.
								</div></li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[보안 서비스]</span> IP 보안 사용방법이 어떻게
								되나요?
								<div class="FAQCont">
									1. 로그인 박스에 기본적으로 IP보안 ON으로 세팅되어 있어 로그인만 하시면 IP보안이 동작됩니다. <br>
									<br>2. 만약 IP보안을 원하지 않고 이전과 동일한 서비스를 이용하고 싶으신 회원님께서는 IP보안을
									OFF 한 상태에서 로그인하시면 됩니다. <br> <br>3. 만약 한번 IP보안을 OFF한
									컴퓨터에서는 30일간 OFF상태가 지속되어 이용하실 수 있습니다. <br>(단, 다른 컴퓨터를
									이용하거나, 쿠키를 삭제할 경우에는 다시 IP보안은 ON상태로 변경됩니다.) <br> <br>4.
									IP보안이 동작중일 경우에는 회원님의 PC와 네트워크 환경에 따라 지속적으로 자동 로그아웃 될 수 있으며,
									로그인이 불편하실 경우에는 로그인시 IP보안을 OFF한 후 이용하시면 됩니다. 단, IP보안 서비스는 받으실 수
									없습니다. <br>
								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[보안 서비스]</span> IP 보안이란?
								<div class="FAQCont">체크하여 멀리 떨어진 장소에서 부정한 방법으로 로그인 권한을
									이용하는 것을 차단할 수 있는 서비스 입니다.</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> WorkWave를 탈퇴하면
								패밀리사이트도 이용할 수 없나요?
								<div class="FAQCont">
									WorkWave 패밀리사이트는 한 개의 아이디로 통합되어 운영되므로, WorkWave, 알바몬, 캠퍼스몬
									사이트에서 모두 탈퇴 처리가 됩니다. <br> <br>이 점 유의하셔서 탈퇴하시기 전에 신중히
									고려하시기 바랍니다.
								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 자동 로그아웃 현상이 자주
								반복됩니다. 어떻게 하나요?
								<div class="FAQCont">
									개인 정보 보안을 위하여 100분 이상 사이트 이용이 없는 경우 자동 로그아웃이 설정되어 있습니다. 이력서
									등록/수정 중에는 이 점 유의해 주시기 바랍니다. <br> <br>또한 IE 6.0의 버그로
									인하여 본의아닌 피해를 보고 계실수 있으므로 다음과 같이 조치 해 보시기 바랍니다. <br> <br>1.
									다른 응용프로그램을 모두 닫으신 후 한 개의 익스플로러만 열어주세요. <br>2. 도구
									&gt;인터넷옵션&gt; 일반 에서 가운데 임시 인터넷 파일 부분의 [설정]을 클릭하셔서 저장된 페이지의
									새버전확인을 [자동으로 ==&gt; 페이지 열때마다]로 변경해 주세요. <br>3. 도구 -&gt;
									인터넷 옵션 -&gt; 보안설정에서 [기본 수준] 으로 선택하신 후 인터넷 옵션 -&gt; 개인정보&gt; 편집
									-&gt; workwave.co.kr 입력 -&gt; 허용 버튼 클릭해 주세요. <br>4. 임시 인터넷
									파일의 [파일삭제]버튼을 클릭하셔서 캐쉬에 남은 페이지들을 모두 삭제해 주세요. <br> <br>또한
									PC에 보안프로그램이나 방화벽이 설치되어 있는지 확인(사내 시스템관리자가 알고 있음) 해주시기 바랍니다. <br>
									<br>회사나 학교 PC는 방화벽이 설치되어 있을경우 일부기능을 이용하지 못하거나 접속이 어려울 수
									있습니다. <br> <br>
								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 회원탈퇴는 어떻게 하나요?
								<div class="FAQCont">
									WorkWave 회원탈퇴는 아래 절차에 따라 진행하실 수 있습니다. <br> <br>1단계.
									회원 로그인 후 고객센터 <strong><font color="orange">[회원탈퇴
											신청]</font></strong>을 클릭해 주세요. <br> <br>2단계. 탈퇴 전 유의 사항을 반드시 확인 하신 후
									탈퇴 신청폼을 작성해 주세요. <br> <br>3단계. 탈퇴 신청이 완료되면 고객센터에서 확인
									후 결과 처리를 통보해 드립니다. <br> <br>※ 통합아이디 활용으로 회원 탈퇴 시
									WorkWave, 알바몬, 캠퍼스몬의 회원 정보도 삭제되므로 신중히 고려하시기 접수해 주시기 바랍니다.
								</div>


							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 회원탈퇴는 어떻게 하나요?
								<div class="FAQCont">
									WorkWave 회원탈퇴는 아래 절차에 따라 진행하실 수 있습니다. <br> <br>1단계.
									회원 로그인 후 고객센터 <strong><font color="orange">[회원탈퇴
											신청]</font></strong>을 클릭해 주세요. <br> <br>2단계. 탈퇴 전 유의 사항을 반드시 확인 하신 후
									탈퇴 신청폼을 작성해 주세요. <br> <br>3단계. 탈퇴 신청이 완료되면 고객센터에서 확인
									후 결과 처리를 통보해 드립니다. <br> <br>※ 통합아이디 활용으로 회원 탈퇴 시
									WorkWave, 알바몬, 캠퍼스몬의 회원 정보도 삭제되므로 신중히 고려하시기 접수해 주시기 바랍니다.
								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 로그인이 안돼요. 어떻게
								하나요?
								<div class="FAQCont">
									로그인이 되지 않을 경우 회원님의 PC 설정상태를 확인해 주시기 바랍니다. <br> <br> <br>
									<strong>1. 쿠키 등 검색 기록을 삭제해 주세요. </strong> <br>(1) 브라우저 실행
									&gt; 도구 &gt; 인터넷 옵션 &gt; 일반 &gt; 검색 기록 &gt; [삭제] 클릭해 주세요. <br>(2)
									맨 위 [즐겨찾기 웹 사이트 데이터 보존]을 제외하고 모든 항목에 체크한 후 아래 [삭제] 버튼 클릭해 주세요.
									<br>(3) 검색 기록 삭제가 완료되면 인터넷 옵션 창의 [확인] 버튼을 클릭하세요. <br>(4)
									띄워놓았던 인터넷 브라우저를 모두 닫고 새로 인터넷 브라우저를 열어 WorkWave 로그인을 해주세요. <br>
									<br> <strong> 2. 보안 수정 재설정</strong> <br>(1) 브라우저 실행
									&gt; 도구 &gt; 인터넷 옵션 &gt; 보안 &gt; 인터넷 메뉴를 클릭하고, 보안 수준을 [기본 수준]
									클릭해 주세요. <br>(2) 신뢰할 수 있는 사이트 &gt; 사이트 버튼 클릭 후
									[*.workwave.co.kr]을 추가하여 등록해 주세요. <br>(3) 인터넷 옵션 창의 [확인]
									버튼을 클릭하세요. <br>(4) 띄워놓았던 인터넷 브라우저를 모두 닫고 새로 인터넷 브라우저를 열어
									WorkWave 로그인을 해주세요. <br> <br> <strong> 3.
										제한된 사이트에서 해지 </strong> <br>(1) 브라우저 실행 &gt; 도구 &gt; 인터넷 옵션 &gt; 보안
									&gt; 제한된 사이트 클릭하고 [사이트] 버튼을 클릭해 주세요. <br>(2) 제한된 사이트로
									WorkWave가 등록되어 있다면, 선택하신 후 우측의 [제거] 버튼을 클릭해 주세요. <br>(3)
									인터넷 옵션 창의 [확인] 버튼을 클릭하세요. <br>(4) 띄워놓았던 인터넷 브라우저를 모두 닫고 새로
									인터넷 브라우저를 열어 WorkWave 로그인을 해주세요. <br> <br> <br>위
									항목에 해당하지 않는 경우 WorkWave 고객센터로 문의주시면 확인 후 안내 드리도록 하겠습니다. <br>
									<br> <strong>[WorkWave 고객센터] </strong> <br>· ☎:
									9043-7042 <br> · E-mail: ftvkal98@naver.com 전화를 주시거나 메일로
									내용을 보내주시기 바랍니다.
								</div>

							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 발급받은 아이핀 ID와
								비밀번호를 분실했어요. 어떻게 하나요?
								<div class="FAQCont">
									발급받으신 본인확인기관 아이핀 팝업창에서 "아이핀 아이디/비밀번호 찾기" 메뉴를 통해 확인할 수 있습니다. <br>
									<br>임시비밀번호는 이메일, 신용카드, 공인인증서, 휴대폰 인증 방법을 통해 재설정 하실 수 있습니다.
								</div>

							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 하나의 아이핀 발급으로 다른
								웹사이트에서도 아이핀 서비스 이용이 가능한가요?
								<div class="FAQCont">발급하신 아이핀으로 WorkWave뿐만 아니라 타 사이트에서도
									동일하게 인증 수단으로 사용하실 수 있습니다.</div>

							</li>
						</ul>
					</div>
					<div id="companyList" class="listContainer">
						<h3>기업회원 FAQ</h3>
						<ul>
							<li onclick="toggleDetail(event)"><span class="highlighted">[보안 서비스]</span> 계정에서 발생한 지원자 개인정보
								접속기록을 확인하고 싶으면 어떻게 해야하나요?
								<div class="FAQCont">
									회원님의 요청이 있을 경우 기업회원의 개인정보 접속기록을 제공하고 있습니다. 지원자 또는 인재의 개인정보가 포함된
									페이지 접근 시 모든 접속기록을 1년간 보관하고 있습니다. <br>개인정보 접속기록 확인이 필요하실 경우
									아이디, 90일 내 발급한 사업자등록증명원, 확인하고자 하는 기간을 포함하여 고객센터
									(ftvkal98@naver.com) 를 통해 문의해주세요. <br>업무처리는 영업일 기준 최대 5일까지
									소요될 수 있습니다.
								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[보안 서비스]</span> 2단계 인증 담당자 없이 인증할
								수 있나요?
								<div class="FAQCont">
									가입자 또는 2단계 인증 담당자가 회사 이메일 도메인을 등록한 경우, 본인의 회사 이메일로 인증번호를 수신할 수
									있습니다. <br> <br>- 회사 이메일 도메인은 1개만 등록 할 수 있습니다. <br>-
									포털 도메인 (naver, gmail 등)은 등록할 수 없습니다. <br>- 메뉴 위치 : 기업정보관리
									&gt; 2단계 인증 관리
								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[보안 서비스]</span> 2단계 인증 담당자는 어떻게
								등록 하나요?
								<div class="FAQCont">
									1. 가입자 또는 2단계 인증 담당자에게 새로운 담당자 등록 요청 <br> <br>2. 가입자
									또는 2단계 인증 담당자의 경우, 본인 확인 후 새로운 담당자 등록 가능 <br>- 가입자는 이메일,
									담당자는 등록된 휴대전화번호 또는 이메일을 통해 본인 인증을 완료 할 수 있습니다. <br>- 본인확인
									인증은 해당 브라우저에서 인증 당일만 유효 합니다. <br>- 메뉴 위치 : 기업정보관리 &gt; 2단계
									인증 관리 <br> <br>3. 새로운 담당자 정보 등록 <br>- 담당자로 등록 시,
									해당 정보로 2단계 인증 번호를 수신할 수 있습니다.

								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[보안 서비스]</span> 2단계 인증이란?
								<div class="FAQCont">
									2단계 인증은 기업/서치펌회원 계정 도용 시, 인재 또는 지원자의 개인정보보호를 위한 이중 보안 서비스입니다. <br>
									<br>인재 또는 지원자의 개인 정보를 조회할 수 있는 페이지에 접속 시, 구직자의 개인 정보 보호 등을
									위하여 추가 인증 절차가 필수로 진행됩니다. <br> <br>2단계 인증은 PC웹,
									모바일(웹/앱) 모두 해당됩니다. <br> <br>인증 위치 <br>1. 인재정보 접근
									시 <br>2. 지원자 이력서 열람 시 <br> <br>인증 기준 <br>-
									브라우저 당 1회 <br> <br>인증 유효기간 <br>- 6개월 <br> <br>인증
									방법 <br>- 가입자 또는 2단계 인증 담당자의 휴대전화번호, 이메일로 인증 가능 <br>-
									회사 이메일 도메인 설정 시, 본인의 회사 메일로 인증 가능 <br> <br>인증내역 확인 <br>-
									기업정보관리 &gt; 2단계 인증 내역 <br> <br>2단계 인증 담당자 확인 <br>-
									기업정보관리 &gt; 2단계 인증 관리 <br>

								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 로그인 상태 유지란?
								<div class="FAQCont">
									편리하게 로그인 상태를 유지할 수 있는 기능입니다. <br>‘로그인 상태 유지’를 체크한 후 로그인하면,
									로그아웃하거나 브라우저의 쿠키를 삭제하기 전까지는 로그인 상태가 계속 유지됩니다. <br>단, 24시간
									동안 동일 브라우저로 해당 기기(PC, 스마트폰 등)에서 잡코리아를 사용하지 않는다면 ‘로그인 상태 유지’는
									해제될 수 있습니다. <br> <br>· 유의사항 <br> - 개인정보 보호를 위해
									개인 기기(PC, 스마트폰 등)에서만 사용해 주세요. <br> - 이 기능을 이용함으로써 발생하는 보안
									문제의 책임은 본인에게 있습니다. <br> - 브라우저에서 제공하는 ‘개인정보보호 브라우징
									(InPrivate 브라우징)’ 상태로 이용할 경우 쿠키가 저장되지 않아 ‘로그인 상태 유지’ 기능을 사용할 수
									없습니다. <br> <br>· 해제방법 <br> - 방법1. 로그아웃하면 ‘로그인 상태
									유지’가 바로 해제됩니다. <br> - 방법2. 브라우저 캐시 및 쿠키를 삭제하면 ‘로그인 상태 유지’가
									해제됩니다. <br>

								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 회원가입이 되지 않는데
								어떻게 하나요?
								<div class="FAQCont">
									회원가입 진행이 원활하지 않으신가요? <br>지금부터 아래 순서에 따라 인터넷 설정을 변경하여 주시기
									바랍니다. <br> <b>(Internet Explorer 기준)</b> <br> <br>
									<strong>가이드</strong> <br>① 브라우저에서 도구의 인터넷 옵션 클릭 &gt; 인터넷
									옵션 창에서 [일반] 탭의 `검색 기록` 삭제 <br> &gt; 검색기록 삭제 창에서 설정값을 <font
										color="#0061f7"><b>모두 체크 후 삭제</b></font> <br>② [일반] 탭의
									`검색 기록` 설정 클릭 &gt; 웹 사이트 데이터 설정 <br> &gt; [임시 인터넷 파일] 탭의
									설정을 <font color="#0061f7"><b>"웹 페이지를 열 때마다(E)"</b></font>로 설정
									확인 <br>③ 인터넷 옵션 [보안]탭에서 `신뢰할 수 있는 사이트`를 선택 한 후[기본수준]클릭 <br>
									&gt; `신뢰할 수 있는 사이트`를 선택 [사이트]버튼 클릭 &gt; 웹사이트 추가에 &gt;<font
										color="#0061f7"><b>"workwave.co.kr"</b></font>추가 후 닫기 <br>④
									인터넷 옵션 [보안]탭에서 `제한된 사이트`를 선택 한 후[기본수준]클릭 <br> &gt; 제한된
									사이트에서 잡코리와 관련된 웹사이트가 있다면 <font color="#0061f7"><b>모두
											제거</b></font> <br>⑤ 브라우저에서 도구의 인터넷 옵션 클릭 &gt; 인터넷 옵션 창에서 [개인정보] 탭의
									<font color="#0061f7"><b>"팝업 차단 사용(B)"</b></font> 체크 해제 <br>⑥
									인터넷 옵션 창의 [고급]탭을 선택 &gt; <font color="#0061f7"><b>"고급설정
											복원(R)"</b></font> 클릭 <br> <br>위와 같이 설정하였으나, 지속적으로 회원가입이 어려우신
									경우, 인터넷 옵션 [고급] 탭에서 <br>Internet Explorer의 설정을 기본 상태대로 <font
										color="#0061f7"><b>[원래대로]</b></font>를 클릭해주시기 바랍니다. <br> <br>브라우저의
									기본 설정을 <font color="#0061f7"><b>[원래대로]</b></font>로 클릭하여 설정하신
									이후에도 회원가입이 되지 않으시는 경우, <br>사용하시는 <font color="#0061f7"><b>브라우저의
											업데이트 된 버전</b></font>을 설치하시는 것을 권해드립니다. <br> <br> <a
										href="https://support.microsoft.com/ko-kr/help/17621/internet-explorer-downloads"
										target="n"><font color="#0061f7"> ▶ IE11 설치하러 바로 가기</font></a>&lt;-
									Click <br> <br>

								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 아이핀(I-Pin)이란
								무엇인가요?
								<div class="FAQCont">
									아이핀(i-PIN)이란? <br> <br>주민등록번호를 대신하여 본인임을 확인할 수 있는 사이버
									신원확인 번호입니다. <br> <br>아이핀을 이용하여 잡코리아에 회원가입을 하시려면 아이핀을
									발급하는 기관을 통해 아이핀을 발급하신 후 회원가입을 할 수 있습니다. <br> <br>아이핀은
									아래 아이핀 발급기관을 통해 자유롭게 발급받을 수 있습니다. <br> <br>1.
									서울신용평가정보 siren24.com / 1577-1006 <br>2. 나이스신용평가정보
									idcheck.co.kr / 1588-2486 <br>3. 코리아크레딧뷰로 ok-name.co.kr /
									02)708-1000 <br>4. 공공아이핀센터 gpin.go.kr / 02)818-3050

								</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 아이핀을 발급받으려면
								이용자가 별도의 비용을 부담해야 하나요?
								<div class="FAQCont">아이핀을 이용하시려는 회원님께서는 별도의 비용부담 없이 아이핀의
									가입, 발급, 인증 등의 절차를 수행하실 수 있습니다.</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 하나의 아이핀 발급으로 다른
								웹사이트에서도 아이핀 서비스 이용이 가능한가요?
								<div class="FAQCont">발급하신 아이핀으로 잡코리아뿐만 아니라 타 사이트에서도 동일하게
									인증 수단으로 사용하실 수 있습니다.</div>
							</li>
							<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 비밀번호를 잊어버렸어요.
								어떻게 하나요?
								<div class="FAQCont">
									비밀번호 찾기는 잡코리아 첫 화면에서 하실 수 있습니다. <br> <br>1단계. 잡코리아 첫
									화면의 우측에 위치한 로그인 박스의 <font color="orange"><strong>[비밀번호
											찾기]</strong></font>를 클릭해 주세요. <br> <br>2단계. 가입 시 등록된 아이디, 가입자명,
									사업자등록번호를 정확히 입력해 주세요. <br> <br>3단계. 본인 확인 완료 후에 가입 시
									등록한 이메일로 임시 비밀번호를 발송해 드립니다. <br> <br>* 위 방법으로 비밀번호
									확인이 힘드신 경우 페이지 하단의 비밀번호 분실신고로 접수해 주시면 임시비밀번호를 발송해 드립니다.

								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include/footer::footer"></div>
</body>
</html>


