<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
</head>
<body>
	<div th:replace="~{include/header}"></div>
    <div layout:fragment="content" class="content">
	
	<div class="sidebar active">
		<h3>공지사항</h3>
		<a th:href="@{/A/userFAQ}">개인회원</a>
		<a th:href="@{/A/companyFAQ}">기업회원</a>
		<a th:href="@{/A/notice}" class="select">공지사항</a>
		<a th:href="@{/G/findId}">아이디 찾기</a>
		<a th:href="@{/G/findPwd}">비밀번호 찾기</a>
		<a sec:authorize="!isAuthenticated()" th:href="@{/login}">회원탈퇴</a>
		<a sec:authorize="isAuthenticated() and hasRole('USER')" th:href="@{/U/delete/userPwdCheck}">회원탈퇴</a>
		<a sec:authorize="isAuthenticated() and hasRole('COMPANY')" th:href="@{/C/delete/companyPwdCheck}">회원탈퇴</a>
	</div>
		
		<div class="faq-list sidebar_r">
            <h3>공지사항</h3>
            <ul class="notice-list">
            	<li>
            		<span style="width: 15%;">전체</span>
            		<span style="width: 70%;">제목</span>
            		<span style="width: 15%;">날짜</span>
            	</li>
                <li th:each="notice : ${nList}">
                	<span style="color: #007BFF; width: 15%;">공지</span>
                    <a style="color: #000000; width: 70%;" th:href="@{/A/noticeCont(no=${notice.notice_key})}" th:text="${notice.notice_title}"></a>
                    <span style="width: 15%;" th:text="${notice.notice_date.substring(0, 10)}"></span>
                </li>
            </ul>

            <!-- Page navigation -->
            <ul class="pagination">
                <li th:if="${paging != null and paging.page > paging.block}">
                    <a th:href="@{/A/notice(page=1)}">[⋘]</a>
                </li>
                <li th:if="${paging != null and paging.page > paging.block}">
                    <a th:href="@{/A/notice(page=${paging.startBlock - 1})}">[☚]</a>
                </li>

                <li th:each="i : ${#numbers.sequence(paging.startBlock, paging.endBlock)}">
                    <a th:href="@{/A/notice(page=${i})}" th:text="${i}"></a>
                </li>

                <li th:if="${paging != null and paging.endBlock < paging.allPage}">
                    <a th:href="@{/A/notice(page=${paging.endBlock + 1})}">[➤]</a>
                </li>
                <li th:if="${paging != null and paging.endBlock < paging.allPage}">
                    <a th:href="@{/A/notice(page=${paging.allPage})}">[⋙]</a>
                </li>
            </ul>
	</div>
    <div th:replace="~{include/footer :: footer}"></div>
</body>
</html>