<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"><head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave FAQ</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
<script>

	function guest() {
		alert('이미 로그인 되어 있습니다.');
	}
	
    function toggleDetail(event) {
      const faqCont = event.currentTarget.querySelector('.FAQCont');
      faqCont.style.display = faqCont.style.display === 'none' ? 'block' : 'none';
    }

    document.addEventListener('DOMContentLoaded', () => {
      const faqConts = document.querySelectorAll('.FAQCont');
      faqConts.forEach(cont => cont.style.display = 'none');
    });
</script>
</head>
<body>
  <!-- 로그인 상태에 따라 다른 헤더 표시 -->
  <div th:replace="~{include/header}"></div>
  <div layout:fragment="content" class="content">
      <div class="sidebar active">
      	<h3>고객센터</h3>
        <a th:href="@{/A/userFAQ}">개인회원</a>
        <a th:href="@{/A/companyFAQ}" class="select">기업회원</a>
        <a th:href="@{/A/notice}">공지사항</a>
        <a sec:authorize="(isAuthenticated() and hasRole('COMPANY')) or (isAuthenticated() and hasRole('USER'))"  href="#" onclick="guest()">아이디 찾기</a>
        <a sec:authorize="(isAuthenticated() and hasRole('COMPANY')) or (isAuthenticated() and hasRole('USER'))"  href="#" onclick="guest()">비밀번호 찾기</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/G/findId}">아이디 찾기</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/G/findPwd}">비밀번호 찾기</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">회원탈퇴</a>
		<a sec:authorize="isAuthenticated() and hasRole('USER')" th:href="@{/U/delete/userPwdCheck}">회원탈퇴</a>
		<a sec:authorize="isAuthenticated() and hasRole('COMPANY')" th:href="@{/C/delete/companyPwdCheck}">회원탈퇴</a>
      </div>
      	<div class="faq-list sidebar_r">
      	<h3>개인회원 FAQ</h3>
			<ul>
				<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span>
					로그인 상태 유지란?
					<div class="FAQCont">
						편리하게 로그인 상태를 유지할 수 있는 기능입니다. <br> ‘로그인 상태 유지’를 체크한 후
						로그인하면, 로그아웃하거나 브라우저의 쿠키를 삭제하기 전까지는 로그인 상태가 계속 유지됩니다. <br>
						단, 1주 동안 동일 브라우저로 해당 기기(PC, 스마트폰 등)에서 WorkWave를 사용하지 않는다면 ‘로그인
						상태 유지’는 해제될 수 있습니다. <br> <br> - 이 기능을 이용함으로써 발생하는 보안
						문제의 책임은 본인에게 있습니다. <br> - 브라우저에서 제공하는 ‘개인정보보호 브라우징
						(InPrivate 브라우징)’ 상태로 이용할 경우 쿠키가 저장되지 않아 ‘로그인 상태 유지’ 기능을 사용할 수
						없습니다. <br> <br> · 해제방법 <br> - 방법1. 로그아웃하면 ‘로그인
						상태 유지’가 바로 해제됩니다. <br> - 방법2. 브라우저 캐시 및 쿠키를 삭제하면 ‘로그인 상태
						유지’가 해제됩니다.
					</div></li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[보안 서비스]</span> IP 보안 사용방법이 어떻게
					되나요?
					<div class="FAQCont">
						1. 로그인 박스에 기본적으로 IP보안 ON으로 세팅되어 있어 로그인만 하시면 IP보안이 동작됩니다. <br>
						<br>2. 만약 IP보안을 원하지 않고 이전과 동일한 서비스를 이용하고 싶으신 회원님께서는 IP보안을
						OFF 한 상태에서 로그인하시면 됩니다. <br> <br>3. 만약 한번 IP보안을 OFF한
						컴퓨터에서는 30일간 OFF상태가 지속되어 이용하실 수 있습니다. <br>(단, 다른 컴퓨터를
						이용하거나, 쿠키를 삭제할 경우에는 다시 IP보안은 ON상태로 변경됩니다.) <br> <br>4.
						IP보안이 동작중일 경우에는 회원님의 PC와 네트워크 환경에 따라 지속적으로 자동 로그아웃 될 수 있으며,
						<br>
						로그인이 불편하실 경우에는 로그인시 IP보안을 OFF한 후 이용하시면 됩니다. 단, IP보안 서비스는 받으실 수
						없습니다. <br>
					</div>
				</li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[보안 서비스]</span> IP 보안이란?
					<div class="FAQCont">체크하여 멀리 떨어진 장소에서 부정한 방법으로 로그인 권한을
						이용하는 것을 차단할 수 있는 서비스 입니다.</div>
				</li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> WorkWave를 탈퇴하면
					패밀리사이트도 이용할 수 없나요?
					<div class="FAQCont">
						WorkWave 패밀리사이트는 한 개의 아이디로 통합되어 운영되므로, WorkWave, 알바몬, 캠퍼스몬
						사이트에서 모두 탈퇴 처리가 됩니다. <br> <br>이 점 유의하셔서 탈퇴하시기 전에 신중히
						고려하시기 바랍니다.
					</div>
				</li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 자동 로그아웃 현상이 자주
					반복됩니다. 어떻게 하나요?
					<div class="FAQCont">
						개인 정보 보안을 위하여 100분 이상 사이트 이용이 없는 경우 자동 로그아웃이 설정되어 있습니다. 이력서
						등록/수정 중에는 이 점 유의해 주시기 바랍니다. <br> <br>또한 IE 6.0의 버그로
						인하여 본의아닌 피해를 보고 계실수 있으므로 다음과 같이 조치 해 보시기 바랍니다. <br> <br>1.
						다른 응용프로그램을 모두 닫으신 후 한 개의 익스플로러만 열어주세요. <br>2. 도구
						&gt;인터넷옵션&gt; 일반 에서 가운데 임시 인터넷 파일 부분의 [설정]을 클릭하셔서 <br> 저장된 페이지의
						새버전확인을 [자동으로 ==&gt; 페이지 열때마다]로 변경해 주세요. <br>3. 도구 -&gt;
						인터넷 옵션 -&gt; 보안설정에서 [기본 수준] 으로 선택하신 후 인터넷 옵션 -&gt; 개인정보&gt; 편집
						-&gt; workwave.co.kr 입력 -&gt; 허용 버튼 클릭해 주세요. <br>4. 임시 인터넷
						파일의 [파일삭제]버튼을 클릭하셔서 캐쉬에 남은 페이지들을 모두 삭제해 주세요. <br> <br>또한
						PC에 보안프로그램이나 방화벽이 설치되어 있는지 확인(사내 시스템관리자가 알고 있음) 해주시기 바랍니다. <br>
						<br>회사나 학교 PC는 방화벽이 설치되어 있을경우 일부기능을 이용하지 못하거나 접속이 어려울 수
						있습니다. <br> <br>
					</div>
				</li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 회원탈퇴는 어떻게 하나요?
					<div class="FAQCont">
						WorkWave 회원탈퇴는 아래 절차에 따라 진행하실 수 있습니다. <br> <br>1단계.
						회원 로그인 후 고객센터 <strong><font color="orange">[회원탈퇴
								신청]</font></strong>을 클릭해 주세요. <br> <br>2단계. 탈퇴 전 유의 사항을 반드시 확인 하신 후
						탈퇴 신청폼을 작성해 주세요. <br> <br>3단계. 탈퇴 신청이 완료되면 고객센터에서 확인
						후 결과 처리를 통보해 드립니다. <br> <br>※ 통합아이디 활용으로 회원 탈퇴 시
						WorkWave, 알바몬, 캠퍼스몬의 회원 정보도 삭제되므로 신중히 고려하시기 접수해 주시기 바랍니다.
					</div>


				</li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 회원탈퇴는 어떻게 하나요?
					<div class="FAQCont">
						WorkWave 회원탈퇴는 아래 절차에 따라 진행하실 수 있습니다. <br> <br>1단계.
						회원 로그인 후 고객센터 <strong><font color="orange">[회원탈퇴
								신청]</font></strong>을 클릭해 주세요. <br> <br>2단계. 탈퇴 전 유의 사항을 반드시 확인 하신 후
						탈퇴 신청폼을 작성해 주세요. <br> <br>3단계. 탈퇴 신청이 완료되면 고객센터에서 확인
						후 결과 처리를 통보해 드립니다. <br> <br>※ 통합아이디 활용으로 회원 탈퇴 시
						WorkWave, 알바몬, 캠퍼스몬의 회원 정보도 삭제되므로 신중히 고려하시기 접수해 주시기 바랍니다.
					</div>
				</li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 로그인이 안돼요. 어떻게
					하나요?
					<div class="FAQCont">
						로그인이 되지 않을 경우 회원님의 PC 설정상태를 확인해 주시기 바랍니다. <br> <br> <br>
						<strong>1. 쿠키 등 검색 기록을 삭제해 주세요. </strong> <br>(1) 브라우저 실행
						&gt; 도구 &gt; 인터넷 옵션 &gt; 일반 &gt; 검색 기록 &gt; [삭제] 클릭해 주세요. <br>(2)
						맨 위 [즐겨찾기 웹 사이트 데이터 보존]을 제외하고 모든 항목에 체크한 후 아래 [삭제] 버튼 클릭해 주세요.
						<br>(3) 검색 기록 삭제가 완료되면 인터넷 옵션 창의 [확인] 버튼을 클릭하세요. <br>(4)
						띄워놓았던 인터넷 브라우저를 모두 닫고 새로 인터넷 브라우저를 열어 WorkWave 로그인을 해주세요. <br>
						<br> <strong> 2. 보안 수정 재설정</strong> <br>(1) 브라우저 실행
						&gt; 도구 &gt; 인터넷 옵션 &gt; 보안 &gt; 인터넷 메뉴를 클릭하고, 보안 수준을 [기본 수준]
						클릭해 주세요. <br>(2) 신뢰할 수 있는 사이트 &gt; 사이트 버튼 클릭 후
						[*.workwave.co.kr]을 추가하여 등록해 주세요. <br>(3) 인터넷 옵션 창의 [확인]
						버튼을 클릭하세요. <br>(4) 띄워놓았던 인터넷 브라우저를 모두 닫고 새로 인터넷 브라우저를 열어
						WorkWave 로그인을 해주세요. <br> <br> <strong> 3.
							제한된 사이트에서 해지 </strong> <br>(1) 브라우저 실행 &gt; 도구 &gt; 인터넷 옵션 &gt; 보안
						&gt; 제한된 사이트 클릭하고 [사이트] 버튼을 클릭해 주세요. <br>(2) 제한된 사이트로
						WorkWave가 등록되어 있다면, 선택하신 후 우측의 [제거] 버튼을 클릭해 주세요. <br>(3)
						인터넷 옵션 창의 [확인] 버튼을 클릭하세요. <br>(4) 띄워놓았던 인터넷 브라우저를 모두 닫고 새로
						인터넷 브라우저를 열어 WorkWave 로그인을 해주세요. <br> <br> <br>위
						항목에 해당하지 않는 경우 WorkWave 고객센터로 문의주시면 확인 후 안내 드리도록 하겠습니다. <br>
						<br> <strong>[WorkWave 고객센터] </strong> <br>· ☎:
						9043-7042 <br> · E-mail: ftvkal98@naver.com 전화를 주시거나 메일로
						내용을 보내주시기 바랍니다.
					</div>

				</li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 발급받은 아이핀 ID와
					비밀번호를 분실했어요. 어떻게 하나요?
					<div class="FAQCont">
						발급받으신 본인확인기관 아이핀 팝업창에서 "아이핀 아이디/비밀번호 찾기" 메뉴를 통해 확인할 수 있습니다. <br>
						<br>임시비밀번호는 이메일, 신용카드, 공인인증서, 휴대폰 인증 방법을 통해 재설정 하실 수 있습니다.
					</div>

				</li>
				<li onclick="toggleDetail(event)"><span class="highlighted">[회원가입·로그인]</span> 하나의 아이핀 발급으로 다른
					웹사이트에서도 아이핀 서비스 이용이 가능한가요?
					<div class="FAQCont">발급하신 아이핀으로 WorkWave뿐만 아니라 타 사이트에서도
						동일하게 인증 수단으로 사용하실 수 있습니다.</div>
				</li>
			</ul>
		</div>
    </div>
  <div th:replace="~{include/footer :: footer}"></div>
</body>
</html>
