<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/image/icon/logo_icon.png"/> 
<title>Work Wave 유저 입사지원 현황 리스트</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/userCont.css}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
	
	<div class="sidebar active">
      		<h3>마이페이지</h3>
        	<a th:href="@{/U/profile/insert}">이력서 등록</a>
	        <a th:href="@{/U/profile}">이력서 리스트</a>
	        <a th:href="@{/U/applyList}" class="select">입사지원 현황</a>
	        <a th:href="@{/}">포지션 제안</a>
	        <a th:href="@{/U/update/userPwdCheck}">회원정보 수정</a>
	        <a th:href="@{/U/update/pwd/companyPwdCheck}">비밀번호 변경</a>
	        <a th:href="@{/U/delete/userPwdCheck}">회원탈퇴</a>
        </div>
		
		<div class="user-info sidebar_r">
			<h3>입사지원 현황</h3>
			
			<table class="user-table">
				<tr>
					<th>지원완료</th>
					<th>열람</th>
					<th>미열람</th>
					<th>지원취소 갯수</th>
				</tr>
				
				<tr>
					<th th:text="${applyCnt}">지원완료</th>
					<th th:text="${applyCheckCnt}">열람</th>
					<th th:text="${UapplyNonCheckCnt}">미열람</th>
					<th th:text="${applyCancel}">지원취소 갯수</th>
				</tr>         
            </table>
			
			<span style="font-size: 12px;">❕ 입사지원 현황은 최대 3년까지 조회할 수 있습니다.</span>
			<br><br>
			
			<ul class="user-list2" th:if="${applyInfoList != null}">
	            <li style="background-color: #f2f2f2;">
	                <span style="width: 16%;">지원일</span>|
	                <span style="width: 50%;">지원내역</span>|
	                <span style="width: 17%;">열람</span>|
	                <span style="width: 17%;">지원취소</span>
	            </li>
	            <li th:each="applyInfo, stat : ${applyInfoList}">
	                <span th:text="${applyInfo.apply_date.substring(0, 10)}" style="width: 16%;"></span>
	                <span style="width: 50%;">
	                    <span th:text="${applyComList[stat.index].company_name}"></span><br>
	                    <span th:text="${applyBoardList[stat.index].com_board_title}"></span>
	                </span>
	                <span style="width: 17%;">
	                    <th:block th:if="${applyInfo.apply_profile_check == 'N'}">미열람</th:block>
	                    <th:block th:if="${applyInfo.apply_profile_check == 'Y'}">열람</th:block>
	                </span>
	                <span  style="width: 17%;">
	                	<th:block th:if="${applyInfo.apply_check == 'N'}">
	                		<input type="button" value="지원취소" th:onclick="'applyCancel(' + ${applyInfo.apply_key} + ')'">
	                	</th:block>
	                	<th:block th:if="${applyInfo.apply_check == 'Y'}">지원취소완료</th:block>
	                </span>
	            </li>
        	</ul>
	        <ul class="user-list2" th:if="${applyInfoList == null}">
	            <li style="background-color: #f2f2f2;">
	                <span style="width: 16%;">지원일</span>|
	                <span style="width: 50%;">지원내역</span>|
	                <span style="width: 17%;">열람</span>|
	                <span style="width: 17%;">지원취소</span>
	            </li>
	            <li>
	                <span style="width: 16%;">지원일 가져와야됨<br></span>
	                <span style="width: 50%;">기업이름 가져와야됨 <br> 공고이름 가져와야됨</span>
	                <span style="width: 17%;">열람/미열람 여부 가져와야됨</span>
	                <span style="width: 17%;">
	                	<input type="button" value="지원취소">
	                </span>
	            </li>
        	</ul>
            
        </div>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
	
<script type="text/javascript">
	
	function applyCancel(apply_key) {
		if(confirm("정말로 취소하시겠습니까?")){
			$.ajax({
		        url: '/ajax/applyCancel',
		        type: 'POST',
		        data: { apply_key: apply_key },
		        success: function(response) {
		            alert('지원 취소 완료');
		            location.reload();
		        },
		        error: function(xhr, status, error) {
		            console.error('지원 취소 실패:', xhr.responseText);
		            alert('지원 취소 실패: ' + xhr.responseText);
		        }
		    });
		}else {
			alert("안함!");
		}
	 
	}
	
</script>

</body>
</html>