<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 유저 마이페이지</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/userCont.css}">
</head>
<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
		
		<div class="mainContainer">
		<div class="sidebar active">
      		<h3>마이페이지</h3>
        	<a th:href="@{/}">이력서 등록</a>
	        <a th:href="@{/}">이력서 리스트</a>
	        <a th:href="@{/}">입사지원 현황</a>
	        <a th:href="@{/}">포지션 제안</a>
	        <a th:href="@{/}">회원정보 수정</a>
	        <a th:href="@{/}">비밀번호 변경</a>
	        <a th:href="@{/}">회원탈퇴</a>
      </div>
		
		<div class="user-info">
        <div class="content">
            <h3>유저 정보</h3>
            <ul class="user-list">
                <li th:inline="text">지원완료 : [[${applyCnt}]]</li>
	            <li th:inline="text">이력서 열람 : [[${applyCheckCnt}]]</li>
	            <li th:inline="text">포지션 제안 : [[${positionJean}]]</li>
	            <li th:inline="text">관심 기업 : [[${interest}]]</li>
            </ul>
        </div>
	</div>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
	
</body>
</html>