<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 아이디 찾기</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    
    <div class="tab-container">
    	
    	<a th:href="@{/A/main}">
	       <img src="/image/icon/login_logo.png" alt="Logo" height="80px">
	    </a>
    
    	<div class="info">
		    <span style="font-size: 17px; font-weight: bold; text-align: left;">회원정보입력</span> <br>
		    <span style="font-size: 11px; text-align: left;">회원구분별로 가입 시 입력한 본인정보를 입력해 주세요</span>
    	</div>
    	
	    <div class="tabs">
	      <div class="tab active" onclick="showForm('userId')">개인회원</div>
	      <div class="tab" onclick="showForm('companyId')">기업회원</div>
	    </div>
    
    <div id="userId" class="form-container">
      <form th:action="@{/G/userFindIdOk}" method="get">
        <input type="text" name="user_name" placeholder="이름" required>
        <input type="email" name="user_email" placeholder="이메일" required>
        <input type="submit" value="아이디 찾기">
      </form>
    </div>

    <div id="companyId" class="form-container" style="display:none;">
      <form th:action="@{/G/companyFindIdOk}" method="get">
        <input type="text" name="company_mgr_name" placeholder="인사담당자 이름" required>
        <input type="text" name="company_number" placeholder="사업자등록번호" required>
        <input type="submit" value="아이디 찾기">
      </form>
    </div>
    
    <br>
    <div class="link-container">
      <a th:href="@{/login}">&nbsp;&nbsp;LOGIN</a> |
      <a th:href="@{/G/findPwd}">비밀번호</a>
    </div>
    
    </div>
    
<script>
    function showForm(formId) {
      document.getElementById('userId').style.display = 'none';
      document.getElementById('companyId').style.display = 'none';
      document.getElementById(formId).style.display = 'block';

      var tabs = document.getElementsByClassName('tab');
      for (var i = 0; i < tabs.length; i++) {
        tabs[i].classList.remove('active');
      }
      document.querySelector('[onclick="showForm(\'' + formId + '\')"]').classList.add('active');
    }
</script>
    
</body>
</html>
