<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 비밀번호 찾기</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>

<div align="center">
    <h2>비밀번호 찾기</h2>
    <br>
    
    <form th:action="@{/G/userFindPwdOk}" method="get">
        <table>
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" name="user_name" required>
                </td>
            </tr>

            <tr>
                <th>아이디</th>
                <td>
                    <input type="text" name="user_id" required>
                </td>
            </tr>
        
            <tr>
                <th>이메일</th>
                <td>
                    <input type="email" name="user_email" required>
                </td>
            </tr>
            
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="비밀번호 찾기">
                </td>
            </tr>
        </table>
    </form>
    
    <br>
    
    <!-- 기업회원 비밀번호 찾기 -->
    <form th:action="@{/G/companyFindPwdOk}" method="get">
    	<h2>기업회원 비밀번호 찾기</h2>
        <table>
            <tr>
                <th>인사담당자 이름</th>
                <td>
                    <input type="text" name="company_mgr_name" required>
                </td>
            </tr>

            <tr>
                <th>아이디</th>
                <td>
                    <input type="text" name="company_id" required>
                </td>
            </tr>
        
            <tr>
                <th>사업자등록번호</th>
                <td>
                    <input type="text" name="company_number" required>
                </td>
            </tr>
            
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="비밀번호 찾기">
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>
