<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 회원가입</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/join.css}">
<style type="text/css">
    a {
       font-size: 11px;
    }
    
    h2 {
       margin-bottom: 0;
    }

</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script th:src="@{/js/userInsert.js}"></script>
</head>
<body>
   <div layout:fragment="content" class="content">
   
   <div align="center">
    <form id="signupForm" action="#" th:action="@{/G/userJoinOk}" th:object="${user}" method="post">
    	<div class="top-links">
	      		<a th:href="@{/A/userFAQ}" class="icon">
	      			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
  						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  						<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
					</svg>
	      		</a>
	      		<div class="hover-text">고객센터</div>
    		</div>

		<a th:href="@{/A/main}">
          		<img src="/image/icon/login_logo.png" alt="Logo" height="80px">
       	</a>
        <table>
           <tr>
              <td colspan="2">
                 <h2>개인회원 회원가입</h2>
                 <a th:href="@{/G/companyJoin}">기업회원이세요..?</a>
              </td>
           </tr>
            <tr>
               
                <td>
                   <div class="inputgroup">
                       <input type="text" id="user_id" th:field="*{user_id}" placeholder="아이디" required>
                       <button type="button" id="checkIdBtn">중복 확인</button>
                   </div>
                    <span id="checkmark" class="checkmark">✔</span>
                </td>
            </tr>
            <tr>
                
                <td>
                    <input type="password" id="user_pwd" th:field="*{user_pwd}" placeholder="비밀번호" required>
                    <span id="pwdCheckmark" class="checkmark">✔</span>
                    <span id="pwdError" style="display:none; color: red; font-size: 12px;">비밀번호는 8자 이상 20자 이하이며 특수문자 1자를 포함해야 합니다.</span>
                </td>
            </tr>
            <tr>
                <td><input type="text" id="user_name" th:field="*{user_name}" placeholder="이름"  required></td>
            </tr>
            <tr>
                <td>
                   <div class="inputgroup">
                       <input type="text" id="user_email" th:field="*{user_email}" placeholder="이메일" required>
                       <button type="button" id="sendCode">인증번호 발송</button>
                    </div>
                </td>
            </tr>
            <tr id="veriCodeContainer" style="display: none;">
                <td>
                   <div class="inputgroup">
                       <input type="text" id="veri_code">
                       <button type="button" id="verifyCode">인증번호 확인</button>
                   </div>
                    <span id="veriCheckmark" class="checkmark">✔</span>
                </td>
            </tr>
            <tr>
                <td><input type="text" id="user_phone" th:field="*{user_phone}" placeholder="휴대폰 번호" required></td>
            </tr>
            <tr>
                <td>
                   <input type="text" id="user_addr" th:field="*{user_addr}" 
                   onclick="daumPostcode()" placeholder="주소" readonly required>
                </td>
            </tr>
            <tr>
                <td>
                   <input type="text" id="user_addr_detail" placeholder="상세주소" required>
                </td>
            </tr>
            <tr>
                <td>
                   <input type="date" id="user_birth" th:field="*{user_birth}"
                         th:value="${#dates.format(user.user_birth, 'yyyy-MM-dd')}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <select id="user_gender" th:field="*{user_gender}" required>
                        <option value="GENDER">선택</option>
                        <option value="M">남성</option>
                        <option value="F">여성</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit">회원가입</button>
                </td>
            </tr>
        </table>
    </form>
    </div>
</body>
</html>