<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave Login</title>
</head>
<body>
	<div align="center">
		<h2>유저 로그인 페이지</h2>
		<br>
		<form th:action="@{user_login.go}" method="post">
		<table border="1">
			<tr>
				<th>아이디</th>
				<td>
					<input name="user_id" required>				
				</td>
			</tr>
		
			<tr>
				<th>비밀번호</th>
				<td>
					<input type="password" name="user_pwd" required>
				</td>
			</tr>
			
			<tr>
				<td colspan="2" align="center">
				<input type="submit" value="로그인">
				<input type="reset" value="초기화">
			</tr>
		</table>
	</form>
	<br>
		<a th:href="@{/user_insert.go}">[회원가입]</a>
		<br>
		<a th:href="@{/find_id.go}">[유저 아이디 찾기]</a>
		<br>
		<a th:href="@{/find_password.go}">[유저 비밀번호 찾기]</a>
	</div>
</body>
</html>