<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 회원 수정 페이지</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/userCont.css}">
<style type="text/css">

	#addr_detail {
		display: none;
	}
</style>

<script type="text/javascript">

	//상세주소 값을 주소 필드에 추가하는 로직
	function addDetailAddress() {
	  var userAddr = $('#user_addr').val();
	  var userAddrDetail = $('#user_addr_detail').val();
	  $('#user_addr').val(userAddr + ' ' + userAddrDetail);
	}
	
	$(document).ready(function() {
	  // 상세주소 입력란에 포커스를 잃을 때 주소 필드에 값을 추가하는 이벤트
	  $('#user_addr_detail').on('blur', function() {
	    addDetailAddress();
	  });
	});
	
//다음 도로명 주소 검색창을 열어주는 로직
	function daumPostcode() {
         new daum.Postcode({
             oncomplete: function(data) {
                 // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                 var roadAddr = data.roadAddress; // 도로명 주소 변수
                 var extraRoadAddr = ''; // 참고 항목 변수

                 // 참고항목 문자열이 있을 경우 추가한다.
                 if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                     extraRoadAddr += data.bname;
                 }
                 if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                 }
                 if(extraRoadAddr !== ''){
                     extraRoadAddr = ' (' + extraRoadAddr + ')';
                 }

              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              $('#user_addr').val(roadAddr + extraRoadAddr);

              // 상세주소 필드를 표시하고 포커스
              $('#addr_detail').show();
              $('#user_addr_detail').focus();
             }
         }).open();
     }
     
	function modify(){
		var userAddr = document.getElementById('user_addr').value;
	    var userAddrDetail = document.getElementById('user_addr_detail').value;
	    document.getElementById('user_addr').value = userAddr + ' ' + userAddrDetail;
	}
	
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
</head>
<body>
	<div th:replace="~{include/header}"></div>
    <div layout:fragment="content" class="content">
    
		<div class="sidebar active">
      		<h3>마이페이지</h3>
        	<a th:href="@{/U/profile/insert}">이력서 등록</a>
	        <a th:href="@{/U/profile}">이력서 리스트</a>
	        <a th:href="@{/U/applyList}">입사지원 현황</a>
	        <a th:href="@{/}">포지션 제안</a>
	        <a th:href="@{/U/update/userPwdCheck}" class="select">회원정보 수정</a>
	        <a th:href="@{/U/update/pwd/companyPwdCheck}">비밀번호 변경</a>
	        <a th:href="@{/U/delete/userPwdCheck}">회원탈퇴</a>
        </div>

		<div class="user-info sidebar_r">
      
      	<form method="post" action="/U/update">
         <input type="hidden" name="user_key" th:value="${session.uDTO.user_key}">
         <input type="hidden" name="user_pwd" th:value="${session.uDTO.user_pwd}">
         <span style="font-size: 20px; font-weight: bold;">회원 정보 수정</span>
         <table class="user-table2">
            <tr>
               <th class="infoTh">회원 아이디</th>
               <td>
                  <input type="hidden" name="user_id" th:value="${session.uDTO.user_id}">
				  <span th:inline="text">[[${session.uDTO.user_id}]]</span>
               </td>
            </tr>
                  
            <tr>
               <th class="infoTh">회원 이름</th>
               <td>
               	<input type="hidden" name="user_name" th:value="${session.uDTO.user_name}">
				  <span th:inline="text">[[${session.uDTO.user_name}]]</span>
               </td>
            </tr>
            <tr>
               <th class="infoTh">회원 이메일</th>
               <td>
                  <input type="text" name="user_email" th:value="${session.uDTO.user_email}" style="width: 50%;">
               </td>
            </tr>
            <tr>
            
               <th class="infoTh">회원 전화번호</th>
               <td>
                  <input type="text" name="user_phone" th:value="${session.uDTO.user_phone}" style="width: 25%;">
               </td>
            </tr>
            <tr>
               <th class="infoTh">회원 주소</th>
               <td>
                  <input type="text" name="user_addr" id="user_addr" th:value="${session.uDTO.user_addr}" 
                  onclick="daumPostcode()" readonly>
               </td>
            </tr>
            <tr id="addr_detail">
            	<th class="infoTh">상세 주소</th>
                <td>
                   <input type="text" id="user_addr_detail">
                </td>
            </tr>
            <tr>
               <th class="infoTh">회원 성별</th>
               <td>
                  <input type="hidden" name="user_gender" th:value="${session.uDTO.user_gender}">
				  <span th:inline="text">[[${session.uDTO.user_gender}]]</span>
               </td>
            </tr>
         </table>
         <div class="submitBtnContainer">
	        <input type="submit" value="회원수정" onclick="return modify()">&nbsp;&nbsp;
	        <input type="reset" value="다시작성">
         </div>
      </form>
      </div>
   </div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>