<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 회원 수정 페이지</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/user.css}">
<style type="text/css">

	#addr_detail {
		display: none;
	}
</style>

<script type="text/javascript">

	//상세주소 값을 주소 필드에 추가하는 로직
	function addDetailAddress() {
	  var userAddr = $('#user_addr').val();
	  var userAddrDetail = $('#user_addr_detail').val();
	  $('#user_addr').val(userAddr + ' ' + userAddrDetail);
	}
	
	$(document).ready(function() {
	  // 상세주소 입력란에 포커스를 잃을 때 주소 필드에 값을 추가하는 이벤트
	  $('#user_addr_detail').on('blur', function() {
	    addDetailAddress();
	  });
	});
	
//다음 도로명 주소 검색창을 열어주는 로직
	function daumPostcode() {
         new daum.Postcode({
             oncomplete: function(data) {
                 // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                 var roadAddr = data.roadAddress; // 도로명 주소 변수
                 var extraRoadAddr = ''; // 참고 항목 변수

                 // 참고항목 문자열이 있을 경우 추가한다.
                 if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                     extraRoadAddr += data.bname;
                 }
                 if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                 }
                 if(extraRoadAddr !== ''){
                     extraRoadAddr = ' (' + extraRoadAddr + ')';
                 }

              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              $('#user_addr').val(roadAddr + extraRoadAddr);

              // 상세주소 필드를 표시하고 포커스
              $('#addr_detail').show();
              $('#user_addr_detail').focus();
             }
         }).open();
     }
     
	
	
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
</head>
<body>
	<div th:replace="~{include/header}"></div>
        <div layout:fragment="content" class="content">
      <hr width="30%" color="gray">
         <h3>
        <span th:text="${session.uDTO.user_name} + '님 수정 페이지'"></span>
    	</h3>
      <hr width="30%" color="gray">
      
      <form method="post" action="/U/update">
         <input type="hidden" name="user_key" th:value="${session.uDTO.user_key}">
         <input type="hidden" name="user_pwd" th:value="${session.uDTO.user_pwd}">
         <table border="1" width="700">
            <tr>
               <th>회원 아이디</th>
               <td>
                  <input name="user_id" readonly th:value="${session.uDTO.user_id}">
               </td>
            </tr>
                  
            <tr>
               <th>회원 이름</th>
               <td>
                  <input name="user_name" th:value="${session.uDTO.user_name}" readonly>
               </td>
            </tr>
            <tr>
               <th>회원 이메일</th>
               <td>
                  <input name="user_email" th:value="${session.uDTO.user_email}">
               </td>
            </tr>
            <tr>
            
               <th>회원 전화번호</th>
               <td>
                  <input name="user_phone" th:value="${session.uDTO.user_phone}">
               </td>
            </tr>
            <tr>
               <th>회원 주소</th>
               <td>
                  <input name="user_addr" id="user_addr" th:value="${session.uDTO.user_addr}" 
                  onclick="daumPostcode()" readonly>
               </td>
            </tr>
            <tr id="addr_detail">
            	<th>상세 주소</th>
                <td>
                   <input id="user_addr_detail">
                </td>
            </tr>
            <tr>
               <th>회원 성별</th>
               <td>
                  <input name="user_gender" readonly th:value="${session.uDTO.user_gender}">
               </td>
            </tr>
            <tr>
                  <td colspan="2" align="center">
                     <input type="submit" value="회원수정">&nbsp;&nbsp;
                     <input type="reset" value="다시작성">
                  </td>
              </tr>
         </table>
      </form>
   </div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>