<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 비밀번호 재확인</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/userCont.css}">
</head>
<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
		<div class="sidebar active">
      		<h3>마이페이지</h3>
	        <a th:href="@{/U/profile/insert}">이력서 등록</a>
	        <a th:href="@{/U/profile}">이력서 리스트</a>
	        <a th:href="@{/U/applyList}">입사지원 현황</a>
	        <a th:href="@{/U/userPosition}">포지션 제안</a>
	        <a th:href="@{/U/update/userPwdCheck}" class="select">회원정보 수정</a>
	        <a th:href="@{/U/update/pwd/companyPwdCheck}">비밀번호 변경</a>
	        <a th:href="@{/U/delete/userPwdCheck}">회원탈퇴</a>
        </div>
        
   		<div class="user-info sidebar_r">
      	<form method="post" action="/U/update/userPwdCheckOk">
      		<span style="font-size: 20px; font-weight: bold;">본인 확인</span>
         	<table class="user-table2">
            <tr>
               <th>아이디</th>
               <td th:text=${session.uDTO.user_id}></td>
            </tr>
            <tr>
               <th>비밀번호</th>
               <td>
                  <input type="password" name="user_pwd" placeholder="비밀번호를 입력해주세요">
               </td>
            </tr>
            <tr>
               <td colspan="2" align="center">
                  <small>타인에게 노출되지 않도록 주의하세요</small>
               </td>
            </tr>
         </table>
         <div class="submitBtnContainer">
         	<input type="submit" value="확인">
         </div>
      </form>
      </div>
   </div>
   <div th:replace="~{include/footer :: footer}"></div>
</body>
</html>