<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 기업 마이페이지</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
<link rel="stylesheet" th:href="@{/css/company.css}">
</head>
<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content"></div>
	
	<div class="mainContainer">
		<div class="sidebar active">
      		<h3>마이페이지</h3>
	        <a th:href="@{/C/comBoard/insert}">공고 등록</a>
	        <a th:href="@{/}">공고 리스트</a>
	        <a th:href="@{/}">지원자 현황</a>
	        <a th:href="@{/C/update/companyPwdCheck}">기업정보 수정</a>
	        <a th:href="@{/C/update/pwd/companyPwdCheck}">비밀번호 변경</a>
	        <a th:href="@{/C/delete/companyPwdCheck}" class="select">회원탈퇴</a>
      </div>
		
		<div class="faq-list">
        <div class="content">
        	
        	<form action="/C/delete/companyPwdCheckOk" method="post">
        		<span style="font-size: 20px; font-weight: bold;">회원 탈퇴</span>
        		<table class="company-table2">
        			<tr>
        				<th>사업자 등록 번호</th>
        				<td>
        					<input type="text" name="company_number">
        				</td>
        			</tr>
        			
        			<tr>
        				<th>아이디</th>
        				<td>
        					<input type="text" th:value="${session.cDTO.company_id}" readonly>
        				</td>
        			</tr>
        			
        			<tr>
        				<th>비밀번호</th>
        				<td>
        					<input type="password" name="company_pwd">
        				</td>
        			</tr>
        			
        			<tr>
        				<td colspan="2" align="center">
        					<input type="submit" value="회원 탈퇴하기">
        					<input type="reset" value="한번더 생각하기">
        				</td>
        			</tr>
        		</table>
        	</form>
        </div>
		</div>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>