<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 기업회원가입</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/join.css}">
<link rel="stylesheet" th:href="@{/css/company.css}">
<style type="text/css">
	 a {
	 	font-size: 11px;
	 }
	 
	 h2 {
	 	margin-bottom: 0;
	 }
	 
	input[type="email"]
	select {
    	width: 100%;
    	padding: 8px;
    	border: 1px solid #ccc;
    	border-radius: 4px;
    	box-sizing: border-box;	
	}

</style>
<style type="text/css">
#fileguide {
	font-size: 10px;
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
</script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script th:src="@{/js/companyInsert.js}"></script>
</head>
<body>
	
	<div layout:fragment="content" class="content">
	
	<div align="center">
		<form method="post" action="#" th:action="@{/company_insert_ok.go}" th:object="${company}" enctype="multipart/form-data">
				<table>
					<tr>
						<td colspan="2">
							<h2>기업회원 회원가입</h2>
							<a th:href="@{user_insert.go}">개인회원이세요..?</a>
						</td>
					</tr>
					<tr>
						<td>
							<div class="inputgroup">
								<input type="text" name="company_number" id="company_number" th:field="*{company_number}" placeholder="사업자 등록번호" required>
								<button type="button" id="company_number_btn" required>조회</button>
							</div>
							<span id="company_number_checkmark" class="checkmark">✔</span>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="company_name" id="company_name" th:field="*{company_name}" placeholder="기업 이름" required>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="company_ceo" id="company_ceo" th:field="*{company_ceo}" placeholder="대표자 이름" required>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="company_addr" id="company_addr" th:field="*{company_addr}" onclick="daumPostcode()" placeholder="기업 주소" required>
							<input type="text" name="company_addr_detail" id="company_addr_detail" placeholder="상세주소" style="display : none;" required>
						</td>
					</tr>
					<tr>
						<td>
							<p id="fileguide">기업로고를 등록해주세요.(5MB이하의 jpeg, jpg, png 파일만 등록 가능)</p>
							<img id="preview_logo" height="100px" width="100px" style="display:none;">
							<input type="file" name="logo" id="logo" accept=".jpeg, .jpg, .png">
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="company_homepage" id="company_homepage" th:field="*{company_homepage}" placeholder="기업 홈페이지">
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="company_phone" id="company_phone" th:field="*{company_phone}" placeholder="기업 대표 번호" required>
						</td>
					</tr>
					<tr>
						<td>
							<p id="fileguide">기업 설립일</p>
							<input type="date" name="company_regdate" id="company_regdate" th:field="*{company_regdate}" required>
						</td>
					</tr>
					<tr>
						<td>
							<p id="fileguide">기업 근무 인원</p>
							<input type="text" name="company_emp_count" id="company_emp_count" th:field="*{company_emp_count}" required>
						</td>
					</tr>
					<tr>
						<td>
							<p id="fileguide">기업 총 수익(단위 : 만)</p>
							<input type="text" name="company_sal" id="company_sal" th:field="*{company_sal}" required>
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td colspan="2">
							<h2>인사담당자 정보</h2>
						</td>
					</tr>
					<tr>
						<td>
							<div class="inputgroup">
								<input type="text" name="company_id" id="company_id" th:field="*{company_id}" placeholder="아이디" required>
								<button type="button" value="중복확인" id="company_id_check" required>조회</button>
							</div>
							<span id="Idcheckmark" class="checkmark">✔</span>
						</td>
					</tr>
					<tr>
						<td>
							<input name="company_pwd" type="password" id="company_pwd" th:field="*{company_pwd}" placeholder="비밀번호" required>
							<span id="pwdCheckmark" class="checkmark">✔</span>
							<span id="pwdError" style="display: none; color: red; font-size: 12px;">
								비밀번호는 8자 이상 20자 이하이며 특수문자 1자를 포함해야 합니다.
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<input name="company_pwd_check" type="password" id="company_pwd_check" placeholder="비밀번호 확인" required>
							<span id="pwd_check_err" style="display: none; color: red; font-size: 12px;">
								위의 비밀번호와 입력된 비밀번호가 다릅니다.</span>
							<span id="pwd_check_ok" class="checkmark">✔</span>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="company_mgr_name" id="company_mgr_name" th:field="*{company_mgr_name}" placeholder="인사담당자 이름" required>
						</td>
					</tr>
					<tr>
						<td>
							<div class="inputgroup">
								<input type="text" name="company_mgr_phone" id="company_mgr_phone" th:field="*{company_mgr_phone}" placeholder="인사담당자 연락처" required>
								<button type="button" id="mgr_phone_check">인증번호 발송</button>
								<button type="button" id="resendbtn" style="display: none;">재전송</button>
							</div>
							<div class="inputgroup">
								<input type="text" name="phone_verify_code" id="phone_verify" style="display : none;" placeholder="인증번호 입력" required>
								<button type="button" id="phone_verify_check" name="phone_verify_check" style="display : none;" required>확인</button>
							</div>
							<span id="phone_check_ok_mark" class="checkmark">✔</span>
							<span id="phone_check_err" style="display: none; color: red; font-size: 12px;">
								입력하신 인증번호와 발송된 인증번호가 다릅니다.
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<input type="email" name="company_mgr_email" id="company_mgr_email" th:field="*{company_mgr_email}" placeholder="인사담당자 이메일" required>
						</td>
					</tr>
				</table>
				<input type="submit" value="회원가입" onclick="return insertCheck()">
		</form>
		</div>
		</div>
	
</body>
</html>