<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Work Wave 기업페이지 메인</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/company.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>
<body>
	<div th:include="include/header::companyHeader"></div>
	<div layout:fragment="content" class="content">
		<h2>company Content</h2>
	</div>
	<div th:include="include/footer::footer"></div>
</body>
</html>