<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 기업페이지 메인</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/company.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>
<body>
	<div th:replace="~{include/header :: companyHeader}"></div>
	<div layout:fragment="content" class="content">
		<h2><span th:text="${session.companyInfo.company_name}"></span>&nbsp;안녕하세요!</h2>
	</div>
	
	<button type="button" th:onclick="|location.href='@{/company_modify.go}'|">회원수정</button>

    <button type="button" th:onclick="|location.href='@{/company_delete.go}'|">회원삭제</button>

    <button type="button" th:onclick="|location.href='@{/com_board_insert.go}'|">공고등록</button>

    <button type="button" th:onclick="|location.href='@{/com_board_modify.go}'|">공고수정</button>

    <button type="button" th:onclick="|location.href='@{/com_board_delete.go}'|">공고삭제</button>
	
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>