<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
<link rel="stylesheet" th:href="@{/css/company.css}">
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    var companyPhoneInput = document.getElementById('company_phone');
    companyPhoneInput.value = companyPhoneInput.value.replace(/-/g, '');
});

document.addEventListener('DOMContentLoaded', function() {
    var companyMgrPhoneInput = document.getElementById('company_mgr_phone');
    companyMgrPhoneInput.value = companyMgrPhoneInput.value.replace(/-/g, '');
});

document.addEventListener('DOMContentLoaded', function() {
    var companyHomepageInput = document.getElementById('company_homepage');
    companyHomepageInput.value = companyHomepageInput.value.replace(/^https?:\/\//i, '');
});

$(function(){
	$("#logo").on("change", function(event){
		var file = event.target.files[0]
		debugger;
		
		var maxSize = 5 * 1024 * 1024;  

	    if(file.size > maxSize){
			alert("파일첨부 사이즈는 5MB 이내로 가능합니다.");
			$(this).val(''); 
			return; 
		}
		
		var reader = new FileReader();
		debugger;
		reader.onload = function(e){
			$("#preview_logo").attr("src", e.target.result);
		}
		debugger;
		reader.readAsDataURL(file);
		debugger;
		$("#preview_logo").show();
		debugger;
		$("#original_logo").hide();
		debugger;
				
	});
});

// 다음 도로명 주소 검색창을 열어주는 로직
function daumPostcode() {
         new daum.Postcode({
             oncomplete: function(data) {
                 // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                 var roadAddr = data.roadAddress; // 도로명 주소 변수
                 var extraRoadAddr = ''; // 참고 항목 변수

                 // 참고항목 문자열이 있을 경우 추가한다.
                 if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                     extraRoadAddr += data.bname;
                 }
                 if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                 }
                 if(extraRoadAddr !== ''){
                     extraRoadAddr = ' (' + extraRoadAddr + ')';
                 }

                 // 우편번호와 주소 정보를 해당 필드에 넣는다.
               document.getElementById('company_addr').value = roadAddr + extraRoadAddr;
               // 상세주소 필드에 포커스
               document.getElementById('company_addr_detail').style.display = 'block';
               document.getElementById('company_addr_detail').focus();
             }
         }).open();
     }
     
function insertCheck(){
	var companyAddr = document.getElementById('company_addr').value;
    var companyAddrDetail = document.getElementById('company_addr_detail').value;
    
    if($('#company_addr_detail').is(':visible')){
    	if(companyAddrDetail.trim() === ''){
    		alert('상세정보를 입력해주세요');
    		return false;
    	}
    }
    document.getElementById('company_addr').value = companyAddr + ' ' + companyAddrDetail;
    return true;
}
</script>
</head>
<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
		<div class="sidebar active">
      		<h3>마이페이지</h3>
	        <a th:href="@{/C/comBoard/insert}">공고 등록</a>
	        <a th:href="@{/}">공고 리스트</a>
	        <a th:href="@{/}">지원자 현황</a>
	        <a th:href="@{/C/update/companyPwdCheck}" class="select">기업정보 수정</a>
	        <a th:href="@{/C/update/pwd/companyPwdCheck}">비밀번호 변경</a>
	        <a th:href="@{/C/delete/companyPwdCheck}">회원탈퇴</a>
      </div>
		
		<div class="faq-list sidebar_r">
            <form method="post" action="/C/update" enctype="multipart/form-data">
            <span style="font-size: 20px; font-weight: bold;">회원 정보 수정</span>
			<table class="company-table2">
				<tr>
					<th class="infoTh">사업자 등록 번호</th>
					<td>
						<input type="hidden" name="company_number" th:value="${session.cDTO.company_number}">
						<span th:inline="text">[[${session.cDTO.company_number}]]</span>
					</td>
				</tr>
				<tr>
					<th class="infoTh">회원 아이디</th>
					<td>
						<input type="hidden" name="company_id" th:value="${session.cDTO.company_id}">
						<span th:inline="text">[[${session.cDTO.company_id}]]</span>
					</td>
				</tr>
				<tr>
					<th class="infoTh">기업 이름</th>
					<td>
						<input type="hidden" name="company_name" th:value="${session.cDTO.company_name}">
						<span th:inline="text">[[${session.cDTO.company_name}]]</span>
					</td>
				</tr>
				<tr>
					<th class="infoTh">기업 대표 이름</th>
					<td>
						<input type="hidden" name="company_ceo" th:value="${session.cDTO.company_ceo}">
						<span th:inline="text">[[${session.cDTO.company_ceo}]]</span>
					</td>
				</tr>
				<tr>
					<th class="infoTh">기업 주소</th>
					<td><input type="text" name="company_addr" id="company_addr" onclick="daumPostcode()" th:value="${session.cDTO.company_addr}">
						<input type="text" name="company_addr_detail" id="company_addr_detail" placeholder="상세주소" style="display : none;">
						</td>
				</tr>
				<tr>
					<th class="infoTh">기업 전화번호</th>
					<td><input type="text" name="company_phone" id="company_phone"
						th:value="${session.cDTO.company_phone}" style="width: 25%;">
						</td>
				</tr>
				<tr>
					<th class="infoTh">기업 홈페이지</th>
					<td><input type="text" name="company_homepage" id="company_homepage"
						th:value="${session.cDTO.company_homepage}">
						</td>
				</tr>
				<tr>
					<th class="infoTh">기업 로고</th>
					<td>
						<img th:alt="${session.cDTO.company_logo_name}" th:src="@{'\\image\\logo\\'+${session.cDTO.company_logo}}"
						height="100px" width="100px" id="original_logo">
						<img id="preview_logo" height="100px" width="100px" style="display:none;">
						<input type="file" name="logo" id="logo" accept=".jpeg, .jpg, .png" value="">
					</td>
				</tr>
				<tr>
					<th class="infoTh">기업 근무인원</th>
					<td><input type="text" name="company_emp_count"
						th:value="${session.cDTO.company_emp_count}" style="width: 25%;"></td>
				</tr>
				<tr>
					<th class="infoTh">기업 총 수익
					</th>
					<td><input type="text" name="company_sal"
						th:value="${session.cDTO.company_sal}" style="width: 25%;">만원</td>
				</tr>
				<tr>
					<th class="infoTh">인사담당자 이름</th>
					<td><input type="text" name="company_mgr_name"
						th:value="${session.cDTO.company_mgr_name}" style="width: 25%;"></td>
				</tr>
				<tr>
					<th class="infoTh">인사담당자 이메일</th>
					<td><input type="text" name="company_mgr_email"
						th:value="${session.cDTO.company_mgr_email}" style="width: 50%;"></td>
				</tr>
				<tr>
					<th class="infoTh">인사담당자 전화번호</th>
					<td><input type="text" name="company_mgr_phone" id="company_mgr_phone"
						th:value="${session.cDTO.company_mgr_phone}" style="width: 25%;"></td>
				</tr>
			</table>
			<div class="submitBtnContainer">
				<input type="submit" value="회원수정" onclick="return insertCheck()">
				<input type="reset" value="다시작성">
			</div>
		</form>
        </div>
	</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>