<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" href="image/icon/logo_icon.png"/> 
<title>Work Wave 기업 마이페이지</title>
<link rel="stylesheet" th:href="@{/css/include.css}">
<link rel="stylesheet" th:href="@{/css/FAQ.css}">
<link rel="stylesheet" th:href="@{/css/company.css}">
<link rel="stylesheet" th:href="@{/css/comBoard.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/company/totalApply.js}"></script>
<script th:inline="javascript">
</script>
</head>
<body>
	<div th:replace="~{include/header}"></div>
	<div layout:fragment="content" class="content">
		<div class="sidebar active">
			<h3>마이페이지</h3>
	        <a th:href="@{/C/comBoard/insert}">공고 등록</a>
	        <a th:href="@{/C/comBoardList}" class="select">공고 리스트</a>
	        <a th:href="@{/C/positionList}">포지션 제안</a>
	        <a th:href="@{/C/update/companyPwdCheck}">기업정보 수정</a>
	        <a th:href="@{/C/update/pwd/companyPwdCheck}">비밀번호 변경</a>
	        <a th:href="@{/C/delete/companyPwdCheck}">회원탈퇴</a>
		</div>
		
		<div class="faq-list sidebar_r">
		<h3>총 지원자 리스트</h3>
		<th:block th:if="${totalApplyList != null && totalApplyList.size() > 0}">
			<ul class="apply-list-header">
				<li style="width: 22%;">이력서 사진</li>
				<li style="width: 38%;">이력서 정보</li>
				<li style="width: 11%;">열람 여부</li>
			</ul>
			<table th:each="apply, stat : ${totalApplyList}" style="width: 80%;">
				<tr>
					<td rowspan="3" style="width: 30%;">
						<img style="width:180px; height: 180px;" th:src="@{'/image/profile/' + ${totalApplyProfile[stat.index].profile_image}}">
					</td>
				</tr>
				<tr>
					<td width="51%">
                		<a th:href="@{'/CU/profile/content?no=' + ${apply.profile_key}}"
                		   th:attr="onclick='updateProfileCheck(' + ${apply.apply_key} + ', this)'"
                		   th:text="${totalApplyProfile[stat.index].profile_name}"></a>
            		</td>
					
					<td rowspan="2" style="text-align: center;">
            			<span th:if="${apply.apply_profile_check == 'N'}" style="color: red;">미열람</span>
            			<span th:if="${apply.apply_profile_check == 'Y'}" style="color: blue;">열람</span>
            		</td>
				</tr>
				<tr>
					<td th:text="${userList[stat.index].user_name}"></td>
				</tr>
							
			</table>
		</th:block>
		<th:block th:if="${totalApplyList == null || totalApplyList.isEmpty()}">
			<ul class="apply-list-header">
				<li style="width: 22%;">이력서 사진</li>
				<li style="width: 38%;">이력서 정보</li>
				<li style="width: 11%;">열람 여부</li>
			</ul>
			<span>본 공고에 지원자가 없습니다.</span>
		</th:block>
			
		</div>
	<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>